.section-case-study-image {
  .comp-tile {
    .tile-outer {
      padding: 0;
      height: auto;

      img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
      }
    }
  }
}
