{% assign tile = include.data[0] %}

{% capture capTileOuter %}
  {% if tile.mobile-aspect-ratio.value %}
    mobile-aspect-{{ tile.mobile-aspect-ratio.value }}
  {% endif %}
  {% if tile.desktop-aspect-ratio.value %}
    desktop-aspect-{{ tile.desktop-aspect-ratio.value }}
  {% endif %}
  {% if tile.background-style.value %}
    tile-style-{{ tile.background-style.value }}
  {% endif %}
{% endcapture %}

<section class="section-case-study-text">
  <div class="comp-tile">
    <div class="{{ 'tile-outer' | append: capTileOuter | normalize_whitespace }}">
      <div class="tile-inner">
        <div class="tile-content">
          <div class="tile-content-wrapper desktop-cont-pos-mid-center mobile-cont-pos-mid-center">
            <div class="tile-content-box desktop-cont-width-three-quarter desktop-cont-align-center mobile-cont-width-full mobile-cont-align-center">
              {% if tile.title.value %}
              <p class="cst-title">{{ tile.title.value }}</p>
              {% endif %}
              {% if tile.text.value %}
              <p class="cst-text">{{ tile.text.value }}</p>
              {% endif %}
              {% if tile.subtext.value %}
              <p class="cst-subtext">{{ tile.subtext.value }}</p>
              {% endif %}

              {% if tile.two-column-left.value or tile.two-column-left.value %}
              <div class="cst-two-column-wrapper">
                <div class="cst-two-column-wrapper-left">
                  <p class="cst-two-column-left">{{ tile.two-column-left.value }}</p>
                </div>
                <div class="cst-two-column-wrapper-right">
                  <p class="cst-two-column-right">{{ tile.two-column-right.value }}</p>
                </div>
              </div>
              {% endif %}

              {% if tile.three-column-left.value or tile.three-column-middle.value or tile.three-column-left.value %}
              <div class="cst-three-column-wrapper">
                <div class="cst-three-column-wrapper-left">
                  <p class="cst-three-column-left">{{ tile.three-column-left.value }}</p>
                </div>
                <div class="cst-three-column-wrapper-middle">
                  <p class="cst-three-column-middle">{{ tile.three-column-middle.value }}</p>
                </div>
                <div class="cst-three-column-wrapper-left">
                  <p class="cst-three-column-right">{{ tile.three-column-right.value }}</p>
                </div>
              </div>
              {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
