{% assign tile = include.data[0] %}

<section class="section-case-study-tile">

  {% if tile.headline.value %}
    <p>{{ tile.headline.value }}</p>
  {% endif %}

  {% if tile.copy.value %}
    <p>{{ tile.copy.value }}</p>
  {% endif %}

  {% if tile.linkUrl.value %}
    <p>{{ tile.linkUrl.value }}</p>
  {% endif %}

  {% if tile.linkText.value %}
    <p>{{ tile.linkText.value }}</p>
  {% endif %}

  {% if tile.image.main.value %}
    <img src="{{ tile.image.main.value }}">
  {% endif %}

</section>
