.section-promo {
  .promo-roller {
    span{
      font-size: 4vw;
      line-height: 1em;
      font-weight: bold;
    }
  }

  @include mobile {
    .promo-roller {
      span {
        font-size: 10vw;
        line-height: 1em;
      }
    }
  }
}
