{% for section in include.data %}

  <!-- section -->
  <section>

    {% case section.type %}

      <!--{% comment %}
        Latest & Work Page
      {% endcomment %}-->
      {% when "promo-video" %}
        {% include components/promo-video.html data=section.value %}

      {% when "case-study-tile" %}
        {% include components/case-study-tile.html data=section.value %}

      {% when "article-tile" %}
        {% include components/article-tile.html data=section.value %}

      <!--{% comment %}
        Case Study Pages
      {% endcomment %}-->
      {% when "case-study-work-tile" %}
        {% include components/case-study-work-tile.html data=section.value %}

      {% when "content-tile" %}
        {% include components/content-tile.html data=section.value %}

      {% when "image-tile" %}
        {% include components/image-tile.html data=section.value %}

      {% when "video-tile" %}
        {% include components/video-tile.html data=section.value %}

      <!--{% comment %}
         About Page
      {% endcomment %}-->
      {% when "about-tile" %}
        {% include components/about-tile.html data=section.value %}

      <!--{% comment %}
         Contact Page
      {% endcomment %}-->
      {% when "rules-tile" %}
        {% include components/rules-tile.html data=section.value %}

    {% endcase %}

  </section><!-- section end -->

{% endfor %}
