// -------------------------------------
//   Module - Button
// -------------------------------------
/**
  * @name button
  * @desc Styles for the button module.
**/

$btn_font_size: 0.86em;
$btn_icon_size: 1.36em;
$btn_icon_margin: 0.16em;

$btn_pad_vert: 0.46em;
$btn_pad_horz: 1.16em;
$btn_bdr_w: 2px;

// button
%button {
  display: inline-block;
  position: relative;
  
  span { 
    @include transitions(color);
    transition-duration: $trans_time_instant;

    display: inline-block;
    position: relative;
    z-index: 0;

    padding: $btn_pad_vert $btn_pad_horz;
    border-width: $btn_bdr_w;
    border-style: solid;
    border-color: white;

    color: white;
    font-size: $btn_font_size;

    &:before {
      @include transitions(width, visibility);
      transition-duration: $trans_time_instant;

      position: absolute;
      visibility: hidden;

      content: "";
      z-index: -1;
      bottom: 0;
      left: 0;

      width: 0;
      height: 100%;
      background-color: white;
    }
  }

  .icon {
    transition: none;
    vertical-align: middle;
    margin: 0 $btn_icon_margin;
    font-size: $btn_icon_size;
  }

  &:hover span {
    @include transitions(color);
    transition-duration: $trans_time_instant;
    color: black;

    &:before {
      @include transitions(width, visibility);
      transition-duration: $trans_time_instant;

      visibility: visible;
      width: 100%;
    }
  }
}

// -------------------------------------
//   Button - Colors
// -------------------------------------
// modifer - white
%button--white {
  span {
    color: white;
    border-color: white;

    &:hover  { color: black; }
    &:before { background-color: white; }
  }

}

// modifier - black
%button--black {
  span {
    color: black;
    border-color: black;

    &:hover  { color: white; }
    &:before { background-color: black; }
  }
}

// -------------------------------------
//   Button - States
// -------------------------------------
// modifer - active
%button--active {
  span {
    &:before {
      visibility: visible;
      width: 100%;
    }
  }
}

// modifer - active - white
%button--active-white {
  @extend %button--white;
  @extend %button--active;
  span { color: black; }
}

// modifer - active - black
%button--active-black {
  @extend %button--black;
  @extend %button--active;
  span { color: white; }
}

// -------------------------------------
//   Button - Classes
// -------------------------------------
// button
.button { 
  @extend %button;
  &--active { @extend %button--active; }
}