// -------------------------------------
//   Module - Image
// -------------------------------------
/**
  * @name image
  * @desc Styles for the image module.
**/

%image {
  .image {
    position: relative;
    display: block;
    
    width: 100%;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    
    // to prevent alt text
    // from displayed while
    // the img is loaded
    color: transparent;
  }
}

.image { @extend %image; }

// -------------------------------------
//   Image - Layout
// -------------------------------------
// images used purely for the purpose of
// layout in html ( also the elements that
// contains the dominant-color of the image )
%image__layout {
  @extend .image;
  background-color: transparent;
}

// modifer - desktop
%image__layout--desktop {
  @include mobile {
    display: none !important;
  }
}

// modifer - mobile
%image__layout--mobile {
  @include mobile-up {
    display: none !important;
  }
}

// image - layout
.image__layout {
  @extend %image__layout;

  // modifiers for switching of 
  // responsive images with CSS
  &--desktop { @extend %image__layout--desktop; }
  &--mobile  { @extend %image__layout--mobile;  }
}

// -------------------------------------
//   Image - Cover
// -------------------------------------
$image_overlay_color: black;
$image_overlay_opacity: 0.25;

// images used purely for the purpose of
// covering an entrire parent element in 
// html ( used along with layout images )
%image__cover {
  position: absolute;
  z-index: $zi_default;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  @extend %background-image;
}

// modifer - desktop
%image__cover--desktop {
  @include mobile {
    display: none !important;
    background-image: none !important;
  }
}

// modifer - mobile
%image__cover--mobile {
  @include mobile-up {
    display: none !important;
    background-image: none !important;
  }
}

// modifer - overlay
%image__cover--overlay {
  opacity: $image_overlay_opacity;
  background-color: $image_overlay_color;
}

// image - cover
.image__cover {
  @extend %image__cover;
  
  // modifiers for switching of 
  // responsive images with CSS
  &--desktop { @extend %image__cover--desktop; }
  &--mobile  { @extend %image__cover--mobile;  }
  &--overlay { @extend %image__cover--overlay; }
}