// -------------------------------------
//   Module - Link
// -------------------------------------
/**
  * @name link
  * @desc Styles for the link module.
**/

$link_padding_vert: 0.46em;
$link_padding_horz: 0.46em;
$link_line_h: 2px;

// link
%link {
  display: inline-block;
  position: relative;

  span { 
    @include transitions(color);
    transition-duration: $trans_time_instant;

    display: inline-block;
    position: relative;
    z-index: 0;

    padding-bottom: $link_padding_vert;
    color: white;

    &:before {
      @include transitions(width, visibility);
      transition-duration: $trans_time_instant;

      position: absolute;
      visibility: hidden;

      content: "";
      z-index: -1;
      bottom: 0;
      left: 0;

      width: 0;
      height: $link_line_h;
      background-color: white;
    }
  }

  &:hover span {
    @include transitions(color);
    transition-duration: $trans_time_instant;

    &:before {
      @include transitions(width, visibility);
      transition-duration: $trans_time_instant;

      visibility: visible;
      width: 100%;
    }
  }
}

// underlined link
// ( to be used for links which 
// need a multi-line underline 
// without line animations )
%ulink {
  display: inline-block;
  position: relative;

  span {
    display: inline;
    position: relative;
    padding-bottom: $link_padding_vert;

    color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: $link_line_h;
    /* line-height: $line_height_p + ($link_padding_vert * 1.25); */
  }
}

// -------------------------------------
//   Link - Colors
// -------------------------------------
// modifer - white
%link--white {
  span {
    color: white;
    &:before { background-color: white; }
  }
}

// modifier - black
%link--black {
  span {
    color: black;
    &:before { background-color: black; }
  }
}

// modifer - white
%ulink--white {
  span {
    color: white;
    border-bottom-color: white;
  }
}

// modifer - black
%ulink--black {
  span {
    color: black;
    border-bottom-color: black;
  }
}

// -------------------------------------
//   Link - States
// -------------------------------------
// modifer - active
%link--active {
  span {
    &:before {
      visibility: visible;
      width: 100%;
    }
  }
}

// modifer - active - white
%link--active-white {
  @extend %link--white;
  @extend %link--active;
}

// modifer - active - black
%link--active-black {
  @extend %link--black;
  @extend %link--active;
}

// -------------------------------------
//   Link - Classes
// -------------------------------------
// link
.link { 
  @extend %link;
  &--active { @extend %link--active; }
}

// link
.ulink { 
  @extend %ulink;
}