// -------------------------------------
//   Module - Link
// -------------------------------------
/**
  * @name link
  * @desc Styles for the link module.
**/

$link_pad_vert: 0.5em;
$link_pad_horz: 0.5em;
$link_line_h: 2px;

// link
%link {
  display: inline-block;
  position: relative;

  span { 
    @include transitions(color);
    display: inline-block;
    position: relative;
    z-index: 0;

    padding-bottom: $link_pad_vert;
    color: white;

    &:before {
      @include transitions(width);
      position: absolute;
      visibility: hidden;

      content: "";
      z-index: -1;
      bottom: 0;
      left: 0;

      width: 0;
      height: $link_line_h;
      background-color: white;
    }
  }

  &:hover span {
    @include transitions(color);

    &:before {
      @include transitions(width);
      visibility: visible;
      width: 100%;
    }
  }
}

// -------------------------------------
//   Link - Colors
// -------------------------------------
// modifer - white
%link--white {
  span {
    color: white;
    &:before { background-color: white; }
  }
}

// modifier - black
%link--black {
  span {
    color: black;
    &:before { background-color: black; }
  }
}

// -------------------------------------
//   Link - States
// -------------------------------------
// modifer - active
%link--active {
  span {
    &:before {
      visibility: visible;
      width: 100%;
    }
  }
}

// modifer - active - white
%link--active-white {
  @extend %link--white;
  @extend %link--active;
}

// modifer - active - black
%link--active-black {
  @extend %link--black;
  @extend %link--active;
}

// -------------------------------------
//   Link - Classes
// -------------------------------------
// link
.link { @extend %link; }