// -------------------------------------
//   Module - Section
// -------------------------------------
/**
  * @name section
  * @desc Styles for the grid module.
**/

$section_pad: (100 / (12 * 2)) * 1vw; // default
$section_pad_mob: (100 / (12 * 1.5)) * 1vw; // mobile
$section_pad_ret: (100 / (12 * 2.5)) * 1vw; // retina

$section_margin: $section_pad; // default
$section_margin_mob: $section_pad_mob; // mobile
$section_margin_ret: $section_pad_ret; // retina

// -------------------------------------
//   Section - Padding
// -------------------------------------
// mixin - padding - top
@mixin section--padding-top {
  padding-top: $section_pad;
  @include mobile { padding-top: $section_pad_mob; }
  @include desktop-lg-up { padding-top: $section_pad_ret; }
}

// mixin - padding - bottom
@mixin section--padding-bottom {
  padding-bottom: $section_pad;
  @include mobile { padding-bottom: $section_pad_mob; }
  @include desktop-lg-up { padding-bottom: $section_pad_ret; }
}

// modifier - padding - top, bottom
%section--padding-top { @include section--padding-top; }
%section--padding-bottom { @include section--padding-bottom; }

// modifier - padding - vertical
%section--padding-v { 
  @extend %section--padding-top; 
  @extend %section--padding-bottom; 
}

// mixin - padding - left
@mixin section--padding-left {
  padding-left: $section_pad;
  @include mobile { padding-left: $section_pad_mob; }
  @include desktop-lg-up { padding-left: $section_pad_ret; }
}

// mixin - padding - right
@mixin section--padding-right {
  padding-right: $section_pad;
  @include mobile { padding-right: $section_pad_mob; }
  @include desktop-lg-up { padding-right: $section_pad_ret; }
}

// modifier - padding - left, right
%section--padding-left { @include section--padding-left; }
%section--padding-right { @include section--padding-right; }

// modifier - padding - horizontal
%section--padding-h { 
  @extend %section--padding-left; 
  @extend %section--padding-right; 
}

// modifier - padding
%section--padding {
  @extend %section--padding-v;
  @extend %section--padding-h;
}

// -------------------------------------
//   Section - Margin
// -------------------------------------
// mixin - margin - top
@mixin section--margin-top {
  margin-top: $section_margin;
  @include mobile { margin-top: $section_margin_mob; }
  @include desktop-lg-up { margin-top: $section_margin_ret; }
}

// mixin - margin - bottom
@mixin section--margin-bottom {
  margin-bottom: $section_margin;
  @include mobile { margin-bottom: $section_margin_mob; }
  @include desktop-lg-up { margin-bottom: $section_margin_ret; }
}

// modifier - margin - top, bottom
%section--margin-top { @include section--margin-top; }
%section--margin-bottom { @include section--margin-bottom; }

// modifier - margin - vertical
%section--margin-v { 
  @extend %section--margin-top; 
  @extend %section--margin-bottom; 
}

// mixin - margin - left
@mixin section--margin-left {
  margin-left: $section_margin;
  @include mobile { margin-left: $section_margin_mob; }
  @include desktop-lg-up { margin-left: $section_margin_ret; }
}

// mixin - margin - right
@mixin section--margin-right {
  margin-right: $section_margin;
  @include mobile { margin-right: $section_margin_mob; }
  @include desktop-lg-up { margin-right: $section_margin_ret; }
}

// modifier - margin - left, right
%section--margin-left { @include section--margin-left; }
%section--margin-right { @include section--margin-right; }

// modifier - margin - horizontal
%section--margin-h { 
  @extend %section--margin-left; 
  @extend %section--margin-right; 
}

// modifier - margin
%section--margin {
  @extend %section--margin-v;
  @extend %section--margin-h;
}

// -------------------------------------
//   Section - Tags
// -------------------------------------
// section
%section {
  display: block;
  position: relative;

  width: 100%;
  height: auto;
  box-sizing: border-box;
}

main { @extend %section; }
section { @extend %section; }