// -------------------------------------
//   Module - Section
// -------------------------------------
/**
  * @name section
  * @desc Styles for the grid module.
**/

$section_pad: (100 / (12 * 2)) * 1vw; // default
$section_pad_mob: (100 / (12 * 1.5)) * 1vw; // mobile
$section_pad_ret: (100 / (12 * 2.5)) * 1vw; // retina

$section_margin: $section_pad; // default
$section_margin_mob: $section_pad_mob; // mobile
$section_margin_ret: $section_pad_ret; // retina

// -------------------------------------
//   Section - Padding
// -------------------------------------
// mixin - padding - top
@mixin section--padding-top($mult: 1) {
  padding-top: $section_pad * $mult;
  @include mobile { padding-top: $section_pad_mob * $mult; }
  @include desktop-lg-up { padding-top: $section_pad_ret * $mult; }
}

// mixin - padding - bottom
@mixin section--padding-bottom($mult: 1) {
  padding-bottom: $section_pad * $mult;
  @include mobile { padding-bottom: $section_pad_mob * $mult; }
  @include desktop-lg-up { padding-bottom: $section_pad_ret * $mult; }
}


// mixin - padding - vertical
@mixin section--padding-v($mult: 1) {
  @include section--padding-top($mult);
  @include section--padding-bottom($mult);
}

// modifier - padding - top, bottom
%section--padding-top    { @include section--padding-top; }
%section--padding-bottom { @include section--padding-bottom; }

// modifier - padding - vertical
%section--padding-v { @include section--padding-v; }

// mixin - padding - left
@mixin section--padding-left($mult: 1) {
  padding-left: $section_pad * $mult;
  @include mobile { padding-left: $section_pad_mob * $mult; }
  @include desktop-lg-up { padding-left: $section_pad_ret * $mult; }
}

// mixin - padding - right
@mixin section--padding-right($mult: 1) {
  padding-right: $section_pad * $mult;
  @include mobile { padding-right: $section_pad_mob * $mult; }
  @include desktop-lg-up { padding-right: $section_pad_ret * $mult; }
}

// mixin - padding - horizontal
@mixin section--padding-h($mult: 1) {
  @include section--padding-left($mult);
  @include section--padding-right($mult);
}

// modifier - padding - left, right
%section--padding-left  { @include section--padding-left; }
%section--padding-right { @include section--padding-right; }

// modifier - padding - horizontal
%section--padding-h { @include section--padding-h; }

// mixin - padding
@mixin section--padding($mult: 1) {
  @include section--padding-v($mult);
  @include section--padding-h($mult);
}

// modifier - padding
%section--padding { @include section--padding; }

// -------------------------------------
//   Section - Margin
// -------------------------------------
// mixin - margin - top
@mixin section--margin-top($mult: 1) {
  margin-top: $section_margin * $mult;
  @include mobile { margin-top: $section_margin_mob * $mult; }
  @include desktop-lg-up { margin-top: $section_margin_ret * $mult; }
}

// mixin - margin - bottom
@mixin section--margin-bottom($mult: 1) {
  margin-bottom: $section_margin * $mult;
  @include mobile { margin-bottom: $section_margin_mob * $mult; }
  @include desktop-lg-up { margin-bottom: $section_margin_ret * $mult; }
}

// mixin - margin - vertical
@mixin section--margin-v($mult: 1) {
  @include section--margin-top($mult);
  @include section--margin-bottom($mult);
}

// modifier - margin - top, bottom
%section--margin-top { @include section--margin-top; }
%section--margin-bottom { @include section--margin-bottom; }

// modifier - margin - vertical
%section--margin-v { @include section--margin-v; }

// mixin - margin - left
@mixin section--margin-left($mult: 1) {
  margin-left: $section_margin * $mult;
  @include mobile { margin-left: $section_margin_mob * $mult; }
  @include desktop-lg-up { margin-left: $section_margin_ret * $mult; }
}

// mixin - margin - right
@mixin section--margin-right($mult: 1) {
  margin-right: $section_margin * $mult;
  @include mobile { margin-right: $section_margin_mob * $mult; }
  @include desktop-lg-up { margin-right: $section_margin_ret * $mult; }
}

// mixin - margin - horizontal
@mixin section--margin-h($mult: 1) {
  @include section--margin-left($mult);
  @include section--margin-right($mult);
}

// modifier - margin - left, right
%section--margin-left { @include section--margin-left; }
%section--margin-right { @include section--margin-right; }

// modifier - margin - horizontal
%section--margin-h { @include section--margin-h; }

// mixin - margin
@mixin section--margin($mult: 1) {
  @include section--margin-v($mult);
  @include section--margin-h($mult);
}

// modifier - margin
%section--margin { @include section--margin; }

// -------------------------------------
//   Section - Tags
// -------------------------------------
// section
%section {
  display: block;
  position: relative;

  width: 100%;
  height: auto;
  box-sizing: border-box;
}

main { @extend %section; }
section { @extend %section; }

// -------------------------------------
//   Section - Classes
// -------------------------------------
.section {
  @extend %section;
  

  &--header {
    position: absolute;
    z-index: $zi_header;
    
    display: block;
    width: 100vw;
  }

  &--first  { /* wmpty block */ }
  &--last   { /* wmpty block */ }
  &--footer { /* wmpty block */ }
}
