// -------------------------------------
//   Module - Section
// -------------------------------------
/**
  * @name section
  * @desc Styles for the grid module.
**/

// -------------------------------------
//   Section - Padding
// -------------------------------------
// small padding
// ( also used for margins )
$section_pad_sm:     40px; // base
$section_pad_sm_tab: 30px; // tablet
$section_pad_sm_mob: 20px; // mobile

// default padding
// ( also used for margins )
$section_pad:     60px; // base
$section_pad_tab: 40px; // tablet
$section_pad_mob: 20px; // mobile

// medium padding
// ( also used for margins )
$section_pad_md:     120px; // base
$section_pad_md_tab:  80px; // tablet
$section_pad_md_mob:  40px; // mobile

// large padding
// ( also used for margins )
$section_pad_lg:     180px; // base
$section_pad_lg_tab: 120px; // tablet
$section_pad_lg_mob:  60px; // mobile

// map of available
// section paddings
$section_padding: (
  "none":     0, // base
  "none_tab": 0, // tablet
  "none_mob": 0, // mobile

  "sm":     $section_pad_sm,     // base
  "sm_tab": $section_pad_sm_tab, // tablet
  "sm_mob": $section_pad_sm_mob, // mobile

  "default":     $section_pad,     // base
  "default_tab": $section_pad_tab, // tablet
  "default_mob": $section_pad_mob, // mobile

  "md":     $section_pad_md,     // base
  "md_tab": $section_pad_md_tab, // tablet
  "md_mob": $section_pad_md_mob, // mobile

  "lg":     $section_pad_lg,     // base
  "lg_tab": $section_pad_lg_tab, // tablet
  "lg_mob": $section_pad_lg_mob  // mobile
);

// function to get the section padding
// for the given key ( default otherwise )
@function get-section--padding($mult: 1, $key: "default") {
  // throw a warning and error if the key is invalid
  @if not map-has-key($section_padding, $key) {
    @warn "$key not found for @function get-section--padding($key)";
    @error "$key not found for @function get-section--padding($key)";
  } 
  
  // return the correct padding if the key is valid
  @return (map-get($section_padding, $key) * $mult);
}

// -------------------------------------
//   Section - Padding - Mixins
// -------------------------------------
// mixin - padding - top
@mixin section--padding-top($mult: 1, $size: "default") {
  box-sizing: border-box;
  padding-top: get-section--padding($mult, $size);
  @include tablet { padding-top: get-section--padding($mult, #{$size + "_tab"}); }
  @include mobile { padding-top: get-section--padding($mult, #{$size + "_mob"}); }
}

// mixin - padding - right
@mixin section--padding-right($mult: 1, $size: "default") {
  box-sizing: border-box;
  padding-right: get-section--padding($mult, $size);
  @include tablet { padding-right: get-section--padding($mult, #{$size + "_tab"}); }
  @include mobile { padding-right: get-section--padding($mult, #{$size + "_mob"}); }
}

// mixin - padding - bottom
@mixin section--padding-bottom($mult: 1, $size: "default") {
  box-sizing: border-box;
  padding-bottom: get-section--padding($mult, $size);
  @include tablet { padding-bottom: get-section--padding($mult, #{$size + "_tab"}); }
  @include mobile { padding-bottom: get-section--padding($mult, #{$size + "_mob"}); }
}

// mixin - padding - left
@mixin section--padding-left($mult: 1, $size: "default") {
  box-sizing: border-box;
  padding-left: get-section--padding($mult, $size);
  @include tablet { padding-left: get-section--padding($mult, #{$size + "_tab"}); }
  @include mobile { padding-left: get-section--padding($mult, #{$size + "_mob"}); }
}

// mixin - padding - vertical
@mixin section--padding-v($mult: 1, $size: "default") {
  @include section--padding-top($mult, $size);
  @include section--padding-bottom($mult, $size);
}

// mixin - padding - horizontal
@mixin section--padding-h($mult: 1, $size: "default") {
  @include section--padding-left($mult, $size);
  @include section--padding-right($mult, $size);
}

// mixin - padding
@mixin section--padding($mult: 1, $size: "default") {
  @include section--padding-v($mult, $size);
  @include section--padding-h($mult, $size);
}

// -------------------------------------
//   Section - Margin
// -------------------------------------
// map of available
// section margins
$section_margin: (
  "none":     0, // base
  "none_tab": 0, // tablet
  "none_mob": 0, // mobile

  "sm":     $section_pad_sm,     // base
  "sm_tab": $section_pad_sm_tab, // tablet
  "sm_mob": $section_pad_sm_mob, // mobile

  "default":     $section_pad,     // base
  "default_tab": $section_pad_tab, // tablet
  "default_mob": $section_pad_mob, // mobile

  "md":     $section_pad_md,     // base
  "md_tab": $section_pad_md_tab, // tablet
  "md_mob": $section_pad_md_mob, // mobile

  "lg":     $section_pad_lg,     // base
  "lg_tab": $section_pad_lg_tab, // tablet
  "lg_mob": $section_pad_lg_mob  // mobile
);

// function to get the section margin
// for the given key ( default otherwise )
@function get-section--margin($mult: 1, $key: "default") {
  // throw a warning and error if the key is invalid
  @if not map-has-key($section_margin, $key) {
    @warn "$key not found for @function get-section--margin($key)";
    @error "$key not found for @function get-section--margin($key)";
  } 
  
  // return the correct margin if the key is valid
  @return (map-get($section_margin, $key) * $mult);
}

// -------------------------------------
//   Section - Margin - Mixins
// -------------------------------------
// mixin - margin - top
@mixin section--margin-top($mult: 1, $size: "default") {
  margin-top: get-section--margin($mult, $size);
  @include tablet { margin-top: get-section--margin($mult, #{$size + "_tab"}); }
  @include mobile { margin-top: get-section--margin($mult, #{$size + "_mob"}); }
}

// mixin - margin - right
@mixin section--margin-right($mult: 1, $size: "default") {
  margin-right: get-section--margin($mult, $size);
  @include tablet { margin-right: get-section--margin($mult, #{$size + "_tab"}); }
  @include mobile { margin-right: get-section--margin($mult, #{$size + "_mob"}); }
}

// mixin - margin - bottom
@mixin section--margin-bottom($mult: 1, $size: "default") {
  margin-bottom: get-section--margin($mult, $size);
  @include tablet { margin-bottom: get-section--margin($mult, #{$size + "_tab"}); }
  @include mobile { margin-bottom: get-section--margin($mult, #{$size + "_mob"}); }
}

// mixin - margin - left
@mixin section--margin-left($mult: 1, $size: "default") {
  margin-left: get-section--margin($mult, $size);
  @include tablet { margin-left: get-section--margin($mult, #{$size + "_tab"}); }
  @include mobile { margin-left: get-section--margin($mult, #{$size + "_mob"}); }
}

// mixin - margin - vertical
@mixin section--margin-v($mult: 1, $size: "default") {
  @include section--margin-bottom($mult, $size);
  @include section--margin-top($mult, $size);
}

// mixin - margin - horizontal
@mixin section--margin-h($mult: 1, $size: "default") {
  @include section--margin-right($mult, $size);
  @include section--margin-left($mult, $size);
}

// mixin - margin
@mixin section--margin($mult: 1, $size: "default") {
  @include section--margin-h($mult, $size);
  @include section--margin-v($mult, $size);
}

// -------------------------------------
//   Section - Tags
// -------------------------------------
// section
%section {
  display: block;
  position: relative;

  width: 100%;
  height: auto;
  box-sizing: border-box;
}

main { @extend %section; }
section { @extend %section; }

// -------------------------------------
//   Section - Classes
// -------------------------------------
.section {
  @extend %section;
  
  &--header {
    position: absolute;
    z-index: $zi_header;
    display: block;

    width: 100vw;
    height: auto;
    max-width: 100vw;
    min-width: $base_html_w_min;
  }

  &--first  { /* empty block */ }
  &--last   { /* empty block */ }
  &--footer { /* empty block */ }
}
