// -------------------------------------
//   Module - Video
// -------------------------------------
/**
  * @name video
  * @desc Styles for the video module.
**/

.video { @extend %image; }

// -------------------------------------
//   Video - Layout
// -------------------------------------
// videos used purely for the purpose of
// layout in html ( also the elements that
// contains the dominant-color of the video )
.video__layout {
  @extend %image__layout;

  // modifiers for switching of 
  // responsive images with CSS
  &--desktop { @extend %image__layout--desktop; }
  &--mobile  { @extend %image__layout--mobile;  }
}

// -------------------------------------
//   Video - Cover
// -------------------------------------
$video_overlay_color: black;
$video_overlay_opacity: 0.25;

// videos used purely for the purpose of
// covering an entrire parent element in 
// html ( used along with layout videos )
.video__cover { 
  @extend %image__cover;
  &::-webkit-media-controls {
    display: none !important;
  }
  
  // modifiers for switching of 
  // responsive images with CSS
  // desktop
  &--desktop { 
    @extend %image__cover--desktop;
    width: 100%;
    height: auto;
  }
  
  // mobile
  &--mobile  { 
    @extend %image__cover--mobile;
    @include transform-center-h(false);
    width: auto;
    height: 100%;
  }

  // overlay
  &--overlay {
    opacity: $video_overlay_opacity;
    background-color: $video_overlay_color;
  }
}