{% assign tiles = include.data %}

<!-- article tiles -->
<div class="article-tiles">

  {% for tile in tiles %}

    <!-- tile -->
    <div class="article-tile"{% if tile.style.value %} data-style="{{ tile.style.value }}"{% endif %}>

      <!-- content -->
      <div class="article-tile__content">

        {% if tile.headline.value %}
          <p>{{ tile.headline.value }}</p>
        {% endif %}

        {% if tile.copy.value %}
          <h4>{{ tile.copy.value }}</h4>
        {% endif %}

        {% if tile.linkUrl.value %}
          {% include modules/button.html link=tile.linkUrl label=tile.linkText.value %}
        {% endif %}

      </div><!-- content end -->

    </div><!-- tile end -->

  {% endfor %}

</div><!-- article tiles end -->
