{% assign tile = include.data[0] %}

<!-- section -->
<section>

    <!-- case study tile -->
    <div class="case-study-tile">

      <!-- image -->
      <div class="image">

        <!-- image layout - desktop -->
        <img class="image__layout image__layout--desktop" src="{{base}}/assets/images/layout_1920x900.png" alt="">

        <!-- image layout - mobile -->
        <img class="image__layout image__layout--mobile" src="{{base}}/assets/images/layout_800x820.png" alt="">

        <!-- image cover - desktop -->
        {% if tile.image.Desktop.value %}
        <div class="image__cover image__cover--desktop" style="background-image: url('{ tile.image.Desktop.value.url }}');"></div>
        {% endif %}

        <!-- image cover - mobile -->
        {% if tile.image.Mobile.value %}
        <div class="image__cover image__cover--mobile" style="background-image: url('{{ tile.image.Mobile.value.url }}');"></div>
        {% endif %}

      </div><!-- image end -->

      <!-- content -->
      <div class="case-study-tile__content"{% if tile.align.value %} data-align="{{ tile.align.value }}"{% endif %}>

        {% if tile.headline.value %}
          <p>{{ tile.headline.value }}</p>
        {% endif %}

        {% if tile.copy.value %}
          <p>{{ tile.copy.value }}</p>
        {% endif %}

        {% if tile.linkUrl.value %}
        <a class="link" href="{% tile.linkUrl.value %}"{% if tile.linkText.value %} title="{{ tile.linkText.value }}"{% endif %} data-style="white"><span> {{ tile.linkText.value | default: "View" }} </span></a>
        {% endif %}

      </div><!-- content end -->

    </div><!-- case study tile end -->

</section><!-- section end -->
