{% assign tile = include.data[0] %}
{% assign fgCol = "" %}
{% assign bgCol = "" %}

{% if tile.backgroundColor.value %}
  {% capture bgCol %}

    style="
    {% if tile.backgroundColor.value %}
      background-color: {{ tile.backgroundColor.value }};
    {% endif %}
    "

  {% endcapture %}
{% endif %}

{% if tile.foregroundColor.value or page_data.foregroundColor.value %}
  {% capture fgCol %}

    style="
    {% if tile.foregroundColor.value %}
      color: {{ tile.foregroundColor.value }};
    {% elsif page_data.foregroundColor.value %}
      color: {{ page_data.foregroundColor.value }};
    {% endif %}
    "

  {% endcapture %}
{% endif %}

{% assign alignTop = false %}
{% if tile.alignImage.value and tile.alignImage.value == "top" %}
  {% assign alignTop = true %}
{% endif %}

{% capture imageHtml %}

  {% if tile.imageDesktop.value.main.url or tile.imageMobile.value.main.url %}
  <div class="content-tile__image{{ tile.alignImage.value | prepend: ' ' }}">

    {% if tile.imageDesktop.value.main.url %}
    <img class="content-tile__image--desktop" src="{{ tile.imageDesktop.value.main.url }}" alt="">
    {% endif %}

    {% if tile.imageMobile.value.main.url %}
    <img class="content-tile__image--mobile" src="{{ tile.imageMobile.value.main.url }}" alt="">
    {% endif %}

  </div>
  {% endif %}

{% endcapture %}

<!-- content tile -->
<div class="content-tile{{ page.page_data.uid | prepend: ' ' }}"{{ bgCol | normalize_whitespace | prepend: ' ' }}>

  <div class="content-tile__content">

    {% if alignTop %}
      {{ imageHtml }}
    {% endif %}

    {% if tile.headline.value %}
      <h5 class="content-tile__content--headline" data-align="{{ tile.alignHeadline.value | default: 'center' }}"{{ fgCol | normalize_whitespace }}>{{ tile.headline.value }}</h5>
    {% endif %}

    {% if tile.subline.value %}
      <h2 class="content-tile__content--subline" data-align="{{ tile.alignSubline.value | default: 'center' }}"{{ fgCol | normalize_whitespace }}>{{ tile.subline.value }}</h2>
    {% endif %}

    {% if tile.copy.value %}
      <p class="content-tile__content--copy" data-align="{{ tile.alignCopy.value | default: 'center' }}"{{ fgCol | normalize_whitespace }}>{{ tile.copy.value }}</p>
    {% endif %}

    {% if tile.list.value %}
      <ul class="content-tile__list">
        {% for item in tile.list.value %}
        <li class="content-tile__listitem"{{ fgCol | normalize_whitespace }}>
          {{ item.text }}
        </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if alignTop != true %}
      {{ imageHtml }}
    {% endif %}

  </div>

</div><!-- content tile end -->
