{% assign tile = include.data[0] %}

<!-- contact tile -->
<div class="contact-tile" data-align="{{ tile.align.value | default: 'right' }}" data-style="{{ tile.style.value | default: 'black' }}">
  
  <!-- image -->
  <div class="image contact-tile__image">

    <!-- image layout - desktop -->
    <img class="image__layout image__layout--desktop" src="{{base}}/assets/images/layout_960x825.png" alt="">

    <!-- image layout - mobile -->
    <img class="image__layout image__layout--mobile" src="{{base}}/assets/images/layout_800x820.png" alt="">

    <!-- image cover - desktop -->
    {% if tile.image.value.views.desktop.url %}
    <div class="image__cover image__cover--desktop" style="background-image: url('{{ tile.image.value.views.desktop.url }}');"></div>
    {% endif %}

    <!-- image cover - mobile -->
    {% if tile.image.value.views.mobile.url %}
    <div class="image__cover image__cover--mobile" style="background-image: url('{{ tile.image.value.views.mobile.url }}');"></div>
    {% endif %}

  </div><!-- image end -->
  
  <!-- content -->
  <div class="contact-tile__content">
    <div class="contact-tile__content__inner"><!-- content inner -->

      {% if tile.headline1.value %}
        <h5>{{ tile.headline1.value }}</h5>
      {% endif %}

      {% if tile.copy1.value %}
        <p>{{ tile.copy1.value }}</p>
      {% endif %}

      {% if tile.phone1.value %}
        <a class="ulink" href="tel:{{ tile.phone1.value | normalize_whitespace }}"><span> Tel: {{ tile.phone1.value }} </span></a>
      {% endif %}

      {% if tile.mail1.value %}
        <a class="ulink" href="mailto:{{ tile.mail1.value | normalize_whitespace }}"><span> {{ tile.mail1.value }} </span></a>
      {% endif %}
      
      {% if (tile.linkUrl1.value.url || tile.linkText1.value ) %}
        <a class="ulink" href="{{ tile.linkUrl1.value.url | normalize_whitespace }}" target="_blank" title="{{ tile.linkText1.value | normalize_whitespace }}"><span> {{ tile.linkText1.value }} </span></a>
      {% endif %}

      {% if tile.headline2.value %}
        <h5>{{ tile.headline2.value }}</h5>
      {% endif %}

      {% if tile.copy2.value %}
        <p>{{ tile.copy3.value }}</p>
      {% endif %}

      {% if tile.phone2.value %}
        <a class="ulink" href="tel:{{ tile.phone2.value | normalize_whitespace }}"><span> Tel: {{ tile.phone2.value }} </span></a>
      {% endif %}

      {% if tile.mail2.value %}
        <a class="ulink" href="mailto:{{ tile.mail2.value | normalize_whitespace }}"><span> {{ tile.mail2.value }} </span></a>
      {% endif %}

      {% if (tile.linkUrl2.value.url || tile.linkText2.value ) %}
        <a class="ulink" href="{{ tile.linkUrl2.value.url | normalize_whitespace }}" target="_blank" title="{{ tile.linkText2.value | normalize_whitespace }}"><span> {{ tile.linkText2.value }} </span></a>
      {% endif %}

    </div><!-- content inner end -->
  </div><!-- content end -->

</div><!-- contact tile end -->
