{% assign tile = include.data[0] %}

<!-- content tile -->
<div class="content-tile">

  <div class="content-tile__content">

    {% if tile.headline.value %}
      <p>{{ tile.headline.value }}</p>
    {% endif %}

    {% if tile.subline.value %}
      <h2>{{ tile.subline.value }}</h2>
    {% endif %}

    {% if tile.copy.value %}
      <h3 class="content-tile__content-copy">{{ tile.copy.value }}</h3>
    {% endif %}

    {% if tile.list.value %}
      <div class="content-tile__list">
        {% for item in tile.list.value %}
        <div class="content-tile__listitem">
          {{ item.text }}
        </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if tile.image.main.value %}
      <img src="{{ tile.image.main.value }}">
    {% endif %}

  </div>

</div><!-- content tile end -->
