<footer class="footer">
  <div class="footer__col footer__col--contact">
    <p>Contact</p>

    <ul>
      <li>
        <a href="https://goo.gl/maps/aAmAd4ZJe5Q2" target="_blank">
          <span>3/46-52 Mountain St</span><br class="all" />
          <span>Ultimo NSW 2007</span><br class="all" />
          <span>Sydney, Australia</span>
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="tel:0282302222" target="_blank">
          <span>(02) 8230 2222</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer__col footer__col--social">
    <p>Social</p>

    <ul>
      <li>
        <a href="https://www.instagram.com/ddbgroupsydney/" target="_blank">
          <span>Instagram</span>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/ddbaustralia" target="_blank">
          <span>Twitter</span>
        </a>
      </li>

      <li>
        <a href="https://medium.com/ddb-sydney" target="_blank">
          <span>Medium</span>
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/company/ddb-sydney" target="_blank">
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer__col footer__col--empty">
    <p class="footer__mob-copy footer__smaller-text">&copy; DDB Sydney {{ 'now' | date: "%Y" }}</p>
  </div>

  <div class="footer__col footer__col--ddb">
    <p class="footer__des-copy">&copy; DDB Sydney {{ 'now' | date: "%Y" }}</p>

    <ul>
      <li>
        <a href="{{base}}/careers" target="_blank">
          <span>Careers</span>
        </a>
      </li>

      <li>
        <a href="{{base}}/privacy" target="_blank">
          <span class="footer__smaller-text">Privacy Policy</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
