<!-- header -->
<header class="header header--closed"> 
  
  <!-- back -->
  <div class="header__back" style="visibility: hidden;"> 
    <a href="#go-back" title="Go back">
      <i class="icon icon-chevron-left"></i>
    </a>
  </div><!-- back end -->
  
  <!-- logo - mobile -->
  <a class="header__logo header__logo--mobile" href="/" title="Go home">
    <img src="{{base}}/assets/images/ddb-logo_white.png" alt="">
  </a><!-- logo - mobile end -->
  
  <!-- menu - mobile -->
  <div class="header__menu header__menu--mobile">
    <a href="#open-menu" title="Open menu">
      <i class="icon icon-menu"></i>  
    </a>

    <a href="#close-menu" title="Close menu">
      <i class="icon icon-close"></i>
    </a>
  </div><!-- menu - mobile end -->
  
  <!-- nav -->
  <div class="header__nav"> 
    <a class="link" href="/latest"><span> Latest </span></a>
    <a class="link" href="/work"><span> Work </span></a>
    
    <!-- logo - desktop -->
    <a class="header__logo header__logo--desktop" href="/" title="Go home"> 
      <img src="{{base}}/assets/images/ddb-logo_white.png" alt="">
    </a><!-- logo - desktop end -->

    <a class="link" href="/about"><span> About </span></a>
    <a class="link" href="/contact"><span> Contact </span></a>
  </div><!-- nav end -->
  
  <!-- menu - desktop -->
  <div class="header__menu header__menu--desktop" style="visibility: hidden; pointer-events: none;">
    <a href="#open-menu" title="Open menu">
      <i class="icon icon-menu"></i>
    </a>

    <a href="#close-menu" title="Close menu">
      <i class="icon icon-close"></i>
    </a>
  </div><!-- menu - desktop -->
  
</header><!-- header end -->
