<header>
	
	<div class="desktop"><!--
	--><a class="back"> <br/> </a><!--
		
	--><nav>
		 	<a class="link"><span> Latest </span></a><!--
		 --><a class="link"><span> Work </span></a><!--
		 --><a class="logo"> <br/> </a><!--
		 --><a class="link"><span> About </span></a><!--
		 --><a class="link"><span> Contact </span></a>
		</nav><!--

	--><a class="menu"> <br/> </a><!--
 --></div>

	<div class="mobile"><!--
	 --><a class="back"> <br/> </a><!--
	 --><a class="logo"> <br/> </a><!--
	 --><a class="menu"> <br/> </a><!--

	 --><nav>
			<a class="link"><span> Latest </span></a>
			<a class="link"><span> Work </span></a>
			<a class="link"><span> About </span></a>
			<a class="link"><span> Contact </span></a>
		</nav><!--
  --></div>

</header>
