<!-- header -->
<header class="header"> 

	<div class="header__back"> 
		<a href="#go-back" title="Go back">
			<i class="icon icon-chevron-left"></i>
		</a>
	</div>

	<div class="header__logo header__logo--mobile"> 
		<br class="all">
	</div>

	<div class="header__menu header__menu--mobile">
		<a href="#open-menu" title="Open menu">
			<i class="icon icon-menu"></i>
		</a>

		<a href="#close-menu" title="Close menu">
			<i class="icon icon-close"></i>
		</a>
	</div>
	
	<div class="header__nav"> 
			<a class="link" href="#"><span> Latest </span></a>
			<a class="link" href="#"><span> Work </span></a>

			<a class="header__logo header__logo--desktop" href="#"> 
				<br class="all"> 
			</a>

			<a class="link" href="#"><span> About </span></a>
			<a class="link" href="#"><span> Contact </span></a>
	</div>

	<div class="header__menu header__menu--desktop" style="visibility: hidden;">
		<a href="#open-menu" title="Open menu">
			<i class="icon icon-menu"></i>
		</a>

		<a href="#close-menu" title="Close menu">
			<i class="icon icon-close"></i>
		</a>
	</div>
	
</header><!-- header end -->
