<!-- intro tile -->
<div class="intro-tile">

  <!-- image -->
  <div class="image intro-tile__image">

    <!-- image cover - desktop -->
    <div class="image__cover image__cover--desktop" style="background-image: url('http://ddb-website.cdn.prismic.io/ddb-website/f7d543d2e270b839a54d5cf12e1ee38d59f8717c_vw3.jpg');"></div>

    <!-- image cover - mobile -->
    <div class="image__cover image__cover--mobile" style="background-image: url('http://ddb-website.cdn.prismic.io/ddb-website/41225aec26ec6ea1cf2e6660aa877fe36e3e85df_vw3.jpg');"></div>

    <!-- image cover - overlay -->
    <div class="image__cover image__cover--overlay"></div>

  </div><!-- image end -->
  
  <!-- links -->
  <div class="intro-tile__links">
    <a class="link" href="/sydney"><span> Sydney </span></a><br class="all">
    <a class="link" href="http://ddbmelbourne.com"><span> Melbourne </span></a><br class="all">
  </div><!-- links -->

</div><!-- intro tile end -->
