{% assign tile = include.data[0] %}

{% capture capCompTile %}
  {% if tile.width.value %}
    width-{{ tile.width.value }}
  {% endif %}
{% endcapture %}

{% capture capTileOuter %}
  {% if tile.mobile-aspect-ratio.value %}
    mobile-aspect-{{ tile.mobile-aspect-ratio.value }}
  {% endif %}
  {% if tile.desktop-aspect-ratio.value %}
    desktop-aspect-{{ tile.desktop-aspect-ratio.value }}
  {% endif %}
  {% if tile.background-style.value %}
    tile-style-{{ tile.background-style.value }}
  {% endif %}
  {% if tile.background-image.value %}
    tile-bg
  {% endif %}
{% endcapture %}

{% capture capTileOuterBg %}
  {% if tile.background-image.value %}
    style="background-image: url('{{ tile.background-image.value.main.url }}');"
  {% endif %}
{% endcapture %}

{% capture capTileInner %}
  {% if tile.background-fade.value %}
    tile-fade-{{ tile.background-fade.value }}
  {% endif %}
{% endcapture %}

{% capture capTileContentWrapper %}
  {% if tile.desktop-content-position.value %}
    desktop-cont-pos-{{ tile.desktop-content-position.value }}
  {% endif %}
  {% if tile.mobile-content-position.value %}
    mobile-cont-pos-{{ tile.mobile-content-position.value }}
  {% endif %}
{% endcapture %}

{% capture capTileContentBox %}
  {% if tile.desktop-content-width.value %}
    desktop-cont-width-{{ tile.desktop-content-width.value }}
  {% endif %}
  {% if tile.mobile-content-width.value %}
    mobile-cont-width-{{ tile.mobile-content-width.value }}
  {% endif %}
  {% if tile.desktop-content-alignment.value %}
    desktop-cont-align-{{ tile.desktop-content-alignment.value }}
  {% endif %}
  {% if tile.mobile-content-alignment.value %}
    mobile-cont-align-{{ tile.mobile-content-alignment.value }}
  {% endif %}
{% endcapture %}

{% if tile.link.value %}
  {% capture linkValue %}
    {% case tile.link.type %}
      {% when "Link.web" %}
        {{ tile.link.value.url }}
      {% when "Link.document" %}
        {% if tile.link.value.document.type == "case-study" %}
          {{base}}/work/{{tile.link.value.document.uid}}
        {% else %}
          {{base}}/{{tile.link.value.document.uid}}
        {% endif %}
    {% endcase %}
  {% endcapture %}
<a href="{{linkValue | normalize_whitespace}}" class="{{ 'comp-tile' | append: capCompTile | normalize_whitespace }}">
{% else %}
<div class="{{ 'comp-tile' | append: capCompTile | normalize_whitespace }}">
{% endif %}
  <div class="{{ 'tile-outer' | append: capTileOuter | normalize_whitespace }}" {{ capTileOuterBg | normalize_whitespace }}>
    <div class="{{ 'tile-inner' | append: capTileInner | normalize_whitespace }}">
      {% if tile.background-video.value %}
      <div class="tile-background">
        <video loop="" autoplay=""{% if tile.background-video-poster.value %} poster="{{ tile.background-video-poster.value }}"{% endif %}>
          <source src="{{ tile.background-video.value }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      {% endif %}
      <div class="tile-content">
        <div class="{{ 'tile-content-wrapper' | append: capTileContentWrapper | normalize_whitespace }}">
          <div class="{{ 'tile-content-box' | append: capTileContentBox | normalize_whitespace }}">
            <p class="tile-heading">{{ tile.title.value }}</p>
            <p class="tile-text">{{ tile.text.value }}</p>
            {% if tile.link.value %}
            <p class="tile-link">{{ tile.link-text.value | default: "View" }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% if tile.link.value %}
</a>
{% else %}
</div>
{% endif %}
