{% assign tile = include.data[0] %}

<!-- video tile -->
<div class="video-tile">

  {% if tile.video.value.url %}
    {% assign segs = tile.video.value.url | split: "/" %}
    {% assign isYoutube = false %}
    {% assign isVimeo = false %}
    {% assign rawBase = "" %}

    {% for seg in segs %}
      {% if seg == "www.youtube.com" or seg == "youtu.be"  %}
        {% assign isYoutube = true %}
        {% assign rawBase = seg %}
      {% elsif seg == "vimeo.com" or seg == "player.vimeo.com" %}
        {% assign isVimeo = true %}
        {% assign rawBase = seg %}
      {% endif %}
    {% endfor %}

    {% if isYoutube == true %}
      {% if rawBase == "youtu.be" %}
        {% assign youtubeUrl = tile.video.value.url | replace_first: "//youtu.be/", "//youtube.com/embed/" %}
      {% else %}
        {% assign youtubeUrl = tile.video.value.url | replace_first: "watch?v=", "embed/" %}
      {% endif %}
      <div class="video-tile__outer">
        <div class="video-tile__inner">
          <iframe type="text/html" src="{{ youtubeUrl }}?modestbranding=1&controls=1&iv_load_policy=3&rel=0&showinfo=0" frameborder="0"></iframe>
        </div>
      </div>
    {% elsif isVimeo == true %}
      {% assign vimeoUrl = tile.video.value.url | replace_first: "//vimeo.com/", "//player.vimeo.com/video/" %}
      <div class="video-tile__outer">
        <div class="video-tile__inner">
          <iframe src="{{ vimeoUrl }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    {% else %}
      <video controls>
        <source src="{{ tile.video.value.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% endif %}
  {% endif %}

</div><!-- video tile end -->
