// -------------------------------------
//   Component - Article Tiles
// -------------------------------------
/**
  * @name article-tiles
  * @desc Styles for the article tiles component.
**/

.article-tiles { @extend %flex--row; }

// -------------------------------------
//   Article Tile
// -------------------------------------
$art_tile_h_min:     35vw;
$art_tile_h_min_tab: 35vw;
$art_tile_h_min_mob: 55vw;

.article-tile {
  @extend %flex--col;
  @include section--padding;

  min-height: $art_tile_h_min;
  @include tablet { min-height: $art_tile_h_min_tab; }
  @include mobile { min-height: $art_tile_h_min_mob; }
  .link { @extend %link--active; }

  &[data-style="yellow"] { 
    color: black; background-color: $color_yellow_ddb;
    .link { @extend %link--active-black; }
    .button { @extend %button--black; }
  }

  &[data-style="black"],
  &[data-style="grey"] { 
    color: white;
    .link { @extend %link--active-white; }
    .button { @extend %button--white; }
  }

  &[data-style="black"] { background-color: black; }
  &[data-style="grey"]  { background-color: $color_grey_night; }
}

// -------------------------------------
//   Article Tile - Content
// -------------------------------------
$art_tile_content_w_max: 100%;
$art_tile_content_inner_w_max: 50%;
$art_tile_content_inner_w_max_tab: 70%;
$art_tile_content_inner_w_max_mob: 50%;

.article-tile__content {
  display: block;
  position: absolute;
  box-sizing: border-box;
  @include section--padding;
  
  top: 0;
  left: 0;
  width: 100%;
  max-width: $art_tile_content_w_max;

  > h4, > p { display: block;  }
  > a { display: inline-block; }

  > h4, > p, > a {
    color: inherit;
    max-width: $art_tile_content_inner_w_max;
    @include tablet-sm { max-width: $art_tile_content_inner_w_max_tab; }
    @include mobile    { max-width: $art_tile_content_inner_w_max_mob; }
  }
  
  h4 { margin: 0; }
  h4 + a { margin-top: 1em; }
}
