// -------------------------------------
//   Component - Contact Tile
// -------------------------------------
/**
  * @name contact-tile
  * @desc Styles for the contact tile component.
**/

.contact-tile { 
  @extend %flex--row;
  @include mobile { display: block; }
  
  color: white;
  background-color: black;
  &[data-style="grey"]   { color: white; background-color: $color_grey_night; }
  &[data-style="yellow"] { color: black; background-color: $color_yellow_ddb; }
}

// -------------------------------------
//   Contact Tile - Image
// -------------------------------------
.contact-tile__image {
  @extend %flex--col;
  @include section--padding(2);
  @include section--padding-right(4);
  order: 1;

  @include mobile { 
    display: block;
    @include section--padding(2);
  }
}

.contact-tile__content {
  @extend %flex--col;
  @include section--padding(2);
  &__inner { @include section--padding-right(1); }

  order: 1;
  position: relative;
  align-self: center;

  color: inherit;
  background-color: inherit;

  @include mobile { 
    display: block;
    @include section--padding-h;
  }
  

  h5, p { color: inherit; }
  p, a  { @extend %font-size-h5; }
  h5    { margin: 0; font-weight: $font_wt_bold; }

  p { 
    margin: $line_height_sub 0 0; 
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
  }

  a { 
    margin: $line_height_head 0 0; 
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
  }
  

  h5 + a,
  a + a { margin-top: 0; }

  h5, p, a {
    + h5 { 
      @include section--margin-top(1);
      @include mobile { @include section--margin-top(2); }
    }
  }

  [data-align="left"] & { order: -1; }
  [data-style="yellow"] & { a { @extend %ulink--black; } }
}
