// -------------------------------------
//   Component - Content Tile
// -------------------------------------
/**
  * @name content-tile
  * @desc Styles for the content tile component.
**/

.content-tile {
  @extend %flex--row;
  min-height: 70vw;

  &.test:hover {
    background-color: rgba(white, 0.02);
    outline: 1px solid rgba(white, 0.1);
  }

  .content-tile__content {
    @include section--padding(3.5);

    @include mobile {
      @include section--padding-v(4);
      @include section--padding-h(1);

      .content-tile__content--subline + .content-tile__content--copy {
        @include section--padding-h(2);
      }
    }

    align-self: center;
    vertical-align: middle;

    *:first-child { margin-top: 0; }
    *:last-child { margin-bottom: 0; }

    .content-tile__content--copy {
      @extend %font-size-h3;
    }

    .content-tile__content--headline,
    .content-tile__content--subline,
    .content-tile__content--copy {
      &[data-align="left"]   { text-align: left;   }
      &[data-align="right"]  { text-align: right;  }
      &[data-align="center"] { text-align: center; }

      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      word-break: break-word;
    }

    .content-tile__list {
      @extend %flex--row;

      margin: 0;
      padding: 0;
      @include section--padding-h(1);

      .content-tile__listitem {
        @extend %flex--col;

        margin: 0;
        @include section--margin-top(0.5);

        padding: 0;
        @include section--padding-h(0.5);

        @extend %font-size-h5;
        list-style: none;
        text-align: left;
        flex-basis: 50%;
      }

      @include mobile {
        @include section--padding-h(0);
        @include section--margin-top(2);

        .content-tile__listitem {
          @include section--padding-h(3);

          &:not(:first-child) {
            @include section--margin-top(2);
          }

          flex-basis: 100%;
          @include font-size-h4(false);
        }
      }
    }

    .content-tile__image {
      @include section--margin-top(3);
      @include section--margin-bottom(0);

      &.top {
        @include section--margin-top(0);
        @include section--margin-bottom(3);
      }

      img {
        width: 100%;
        margin: auto;
      }

      .content-tile__image--desktop { display: block; }
      .content-tile__image--mobile  { display: none;  }

      @include mobile {
        text-align: center;

        img {
          max-width: 100%;
          width: auto;
        }
        .content-tile__image--desktop { display: none;  }
        .content-tile__image--mobile  { display: block; }
      }
    }
  }
}
