// -------------------------------------
//   Component - Contact Tile
// -------------------------------------
/**
  * @name contact-tile
  * @desc Styles for the contact tile component.
**/

.contact-tile { 
  @extend %flex--row;
  @include mobile { display: block; }
  
  color: white;
  background-color: black;
  &[data-style="grey"]   { color: white; background-color: $color_grey_night; }
  &[data-style="yellow"] { color: black; background-color: $color_yellow_ddb; }
}

// -------------------------------------
//   Contact Tile - Image
// -------------------------------------
.contact-tile__image {
  @extend %flex--col;
  @include section--padding("md");
  @include section--padding-right("lg");
  order: 1;

  @include mobile { 
    display: block;
    @include section--padding("md");
  }
}

.contact-tile__content {
  @extend %flex--col;
  @include section--padding("md");
  &__inner { @include section--padding-right; }

  order: 1;
  position: relative;
  align-self: center;

  color: inherit;
  background-color: inherit;

  @include mobile { 
    display: block;
    @include section--padding-h;
  }
  

  h5, p { color: inherit; }
  p, a  { @include font--style("h5"); }
  h5    { margin: 0; font-weight: $font_weight_bold; }

  a { 
    margin-top: 1em; 
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
  }
  

  h5 + a, 
  p + a { margin-top: 0; }
  a + a { margin: 0.75em 75% 0 0; }

  h5, p, a {
    + h5 { 
      @include section--margin-top;
      @include mobile { @include section--margin-top("md"); }
    }
  }

  [data-align="left"] & { order: -1; }
  [data-style="yellow"] & { a { @extend %ulink--black; } }
}
