// -------------------------------------
//   Component - Contact Tile
// -------------------------------------
/**
  * @name contact-tile
  * @desc Styles for the contact tile component.
**/

.contact-tile { 
  @extend %flex--row;
  @include mobile { display: block; }
}

// -------------------------------------
//   Contact Tile - Image
// -------------------------------------
.contact-tile__image {
  @extend %flex--col;
  @include section--padding(2);
  @include section--padding-right(4);
  order: 1;

  @include mobile { 
    display: block;
    @include section--padding(2);
  }
}

// -------------------------------------
//   Contact Tile - Content
// -------------------------------------
.contact-tile__content {
  @extend %flex--col;
  @include section--padding(2);

  order: 1;
  color: white;
  background-color: black;

  @include mobile { 
    display: block;
    @include section--padding-left(1);
  }
  
  &__inner {
    @include mobile-up {
      @include transform-center(false);
      @include section--padding(2);
      box-sizing: border-box;
      width: 100%;
    }
  }
  
  h5, p { color: inherit; }
  p, a { @extend %font-size-h5; }

  h5 { font-weight: $font-wt_bold; }
  a  { @extend %ulink--white; }

  &[data-align="left"]   { order: -1; }
  &[data-style="grey"]   { color: white; background-color: $color_grey_night; }
  &[data-style="yellow"] { color: black; background-color: $color_yellow_ddb; }
  &[data-style="yellow"] { a { @extend %ulink--black; } }
}
