// -------------------------------------
//   Component - 404 Tile
// -------------------------------------
/**
  * @name fof-tile
  * @desc Styles for the 404 tile.
**/

.fof-tile {
  @extend %section;
  height: 100vh; width: 100vw;
  min-width: $base_html_w_min;
  min-height: $base_html_w_min;

  .fof-tile__content {
    @include section--padding;
    @include transform-center;
    text-align: center;

    h1 {
      margin: 0;
      line-height: 1em;
      font-size: get-vw-desktop(200px);
      @include tablet { font-size: get-vw-tablet(100px); }
      @include mobile { font-size: get-vw-mobile(50px);  }
    }

    p {
      margin: 0;
      line-height: 1em;
      font-size: get-vw-desktop(40px);
      @include tablet { font-size: get-vw-tablet(30px); }
      @include mobile { font-size: get-vw-mobile(20px); }
    }
  }
}
