// -------------------------------------
//   Component - Footer
// -------------------------------------
/**
  * @name footer
  * @desc Styles for the footer component.
**/

.footer {
  @extend %flex--row;

  padding-top: $section_pad * 2;
  @include mobile { padding-top: $section_pad_mob * 2; }
  @include desktop-lg-up { padding-top: $section_pad_ret * 2; }

  padding-bottom: $section_pad * 3;
  @include mobile { padding-bottom: $section_pad_mob * 3; }
  @include desktop-lg-up { padding-bottom: $section_pad_ret * 3; }

  padding-left: $section_pad / 2;
  @include mobile { padding-left: $section_pad_mob / 2; }
  @include desktop-lg-up { padding-left: $section_pad_ret / 2; }

  padding-right: $section_pad / 2;
  @include mobile { padding-right: $section_pad_mob / 2; }
  @include desktop-lg-up { padding-right: $section_pad_ret / 2; }

  // $section_pad: (100 / (12 * 2)) * 1vw; // default
  // $section_pad_mob: (100 / (12 * 1.5)) * 1vw; // mobile
  // $section_pad_ret: (100 / (12 * 2.5)) * 1vw; // retina
}

.footer__col {
  @extend %flex--col;

  padding-left: $section_pad / 2;
  @include mobile { padding-left: $section_pad_mob / 2; }
  @include desktop-lg-up { padding-left: $section_pad_ret / 2; }

  padding-right: $section_pad / 2;
  @include mobile { padding-right: $section_pad_mob / 2; }
  @include desktop-lg-up { padding-right: $section_pad_ret / 2; }

  &:last-child() {
    text-align: right;
  }

  ul {
    padding-left: 0;

    li {
      padding-left: 0;
      list-style-type: none;

      span {
        line-height: 1.5em;
        border-bottom: 2px solid white;
      }
    }
  }
}
