// -------------------------------------
//   Component - Footer
// -------------------------------------
/**
  * @name footer
  * @desc Styles for the footer component.
**/

.footer {
  width: 100%;
  max-width: 100%;
  @extend %flex--row;
  @include section--padding-v("md");
  @include section--padding-h("default", 0.5);

  background-color: black;
}

// -------------------------------------
//   Footer - Col
// -------------------------------------
$footer_span_margin: 0.25em;
$footer_span_padding: (0.25em / 4);

.footer__col {
  @extend %flex--col;
  @include section--padding-h("default", 0.5);

  .footer__mob-copy { display: none;  }
  .footer__des-copy { display: block; }
  &:last-child { text-align: right; }

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style-type: none;

      span {
        display: inline-block;
        margin-top: $footer_span_margin;
        padding-bottom: $footer_span_padding;
        border-bottom: $link_line_h solid white;
      }

      &:first-child {
        span:first-child {
          margin-top: 0;
        }
      }
    }
  }

  p, span { margin: 0; @include font--style("h6"); }
  ul ~ ul { @include section--padding-top; }
  p { @include section--padding-bottom; }

  @include mobile {
    &.footer__col--contact,
    &.footer__col--empty {
      flex-basis: 67.5%;
    }

    &.footer__col--social,
    &.footer__col--ddb {
      flex-basis: (100 - 67.5%);
    }

    &.footer__col--empty,
    &.footer__col--ddb {
      @include section--padding-top("md");
      align-self: flex-end;
    }

    .footer__des-copy { display: none;    }
    .footer__mob-copy { display: block;   }
    &:last-child      { text-align: left; }

    ul li span  { margin-top: $footer_span_margin; }
    ul ~ ul { @include section--padding-top("md"); }
    p { @include section--padding-bottom("md"); }

    .footer__smaller-text {
      @include font--style("p");
      padding: 0;
    }

    span.footer__smaller-text {
      margin-top: (1em - $footer_span_margin);
    }
  }
}
