// -------------------------------------
//   Component - Footer
// -------------------------------------
/**
  * @name footer
  * @desc Styles for the footer component.
**/

.footer {
  @extend %flex--row;

  @include section--padding-top(2);
  @include section--padding-bottom(2);

  @include section--padding-left(0.5);
  @include section--padding-right(0.5);

  background-color: black;
}

// -------------------------------------
//   Footer - Col
// -------------------------------------
$footer_span_margin: 0.25em;
$footer_span_padding: (0.25em / 4);

.footer__col {
  @extend %flex--col;

  @include section--padding-left(0.5);
  @include section--padding-right(0.5);

  .footer__mob-copy { display: none;  }
  .footer__des-copy { display: block; }
  &:last-child { text-align: right; }

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style-type: none;

      span {
        display: inline-block;
        margin-top: $footer_span_margin;
        padding-bottom: $footer_span_padding;

        border-bottom: $link_line_h solid white;
        line-height: $line_height_root;
        font-weight: $font_wt_regular;
      }

      &:first-child {
        span:first-child {
          margin-top: 0;
        }
      }
    }
  }

  ul ~ ul { @include section--padding-top(0.5); }
  p, span { @include font-size-h5(false); }

  p {
    @include section--padding-bottom;
    line-height: $line_height_root;
    margin: 0;
  }

  @include mobile {
    &.footer__col--contact,
    &.footer__col--empty {
      flex-basis: 67.5%;
    }

    &.footer__col--social,
    &.footer__col--ddb {
      flex-basis: (100 - 67.5%);
    }

    &.footer__col--empty,
    &.footer__col--ddb {
      @include section--padding-top;
      align-self: flex-end;
    }

    .footer__mob-copy { display: block; }
    .footer__des-copy { display: none;  }
    &:last-child { text-align: left; }

    ul ~ ul { @include section--padding-top(1.5); }
    ul li span { margin-top: $footer_span_margin; }

    .footer__smaller-text {
      @include font-size-p(false);
      padding: 0;
    }

    span.footer__smaller-text {
      margin-top: (1em - $footer_span_margin);
    }
  }
}
