// -------------------------------------
//   Component - Header
// -------------------------------------
/**
  * @name header
  * @desc Styles for the header component.
**/

.header {
  @extend %flex--row;
  @include section--padding;

  text-align: center;
  width: 100%; height: auto;
  min-width: $base_html_w_min;
  @include mobile { min-height: 0; }

  @include mobile-up {
    transition: none !important;
    background-color: transparent;
    @include section--padding-v("sm");
  }

  a   {
    @include font--style("h6"); color: white;
    @include mobile { @include font--style("h2"); }
  }

  a i { @include font--style("h4"); }

  &__back, &__logo,
  &__menu, &__nav {
    @extend %flex--col;
  }

  &__back, &__menu {
    flex: 1; flex-basis: 10%;
    @include mobile { flex: 2; flex-basis: 20%; }
  }

  &__logo, &__nav {
    flex: 8; flex-basis: 80%;
    @include mobile { flex: 6; flex-basis: 60%; }
  }

  &__nav {
    @include mobile { flex: 10; flex-basis: 100%; }
  }

  // modifer - closed
  &--closed {
    @include transitions(min-height, background-color);
    transition-timing-function: $ease_in_out_quad;

    background-color: transparent;
    @include mobile { min-height: 0; }
  }

  // modifer - open
  &--open {
    @include transitions(min-height, background-color);
    transition-timing-function: $ease_in_out_quad;

    background-color: black;
    @include mobile { min-height: 100vh; }
  }

  // modifer - basic
  &--basic {
    .header {
      &__nav > .link,
      &__back, &__menu {
        visibility: hidden;
      }
    }
  }
}

// -------------------------------------
//   Header - Back
// -------------------------------------
.header__back {
  text-align: left;

  > a   { display: inline-block; }
  > a i { display: inline-block; }
}

// -------------------------------------
//   Header - Nav
// -------------------------------------
.header__nav {
  @extend %flex--row;

  @include mobile {
     display: block;

    .header--closed & {
      transform: none;
      display: none;
      opacity: 0;
    }
  }

  @include mobile-up {
    transform: none !important;
    display: flex !important;
    opacity: 1 !important;
  }

  > a {
    @extend %flex--col;
    &.link { align-self: flex-end; }

    @include mobile {
      display: block;
      padding: ($section_padding_mob / 1.5) 0;
      &.link--active { padding-bottom: $section_padding_mob; }
    }
  }
}

// -------------------------------------
//   Header - Menu
// -------------------------------------
.header__menu {
  text-align: right;
  &--desktop { @include mobile { display: none; }}
  &--mobile  { @include mobile-up { display: none; }}

  > a   { display: inline-block; }
  > a i { display: inline-block; }

  .header--closed & { .icon-close  { display: none; }}
  .header--open &   { .icon-menu   { display: none; }}
}

// -------------------------------------
//   Header - Logo
// -------------------------------------
$header_logo_w_max: 60px;
$header_logo_w_max_tab: 50px;
$header_logo_w_max_mob: 50px;

$header_logo_padding: 0.5em;
$header_logo_padding_sm: 0.25em;

.header__logo {
  align-self: flex-start;
  padding: $header_logo_padding 0;
  @include tablet { padding-top: $header_logo_padding_sm; }

  &--desktop { @include mobile { display: none !important; }}
  &--mobile  { @include mobile-up { display: none !important; }}

  > img {
    @extend %center;
    max-width: $header_logo_w_max;
    @include tablet { max-width: $header_logo_w_max_tab; }
    @include mobile { max-width: $header_logo_w_max_mob; }
  }
}
