// -------------------------------------
//   Component - Header
// -------------------------------------
/**
  * @name header
  * @desc Styles for the header component.
**/

.header {
  @extend %section--padding;
  @extend %flex--row;

  text-align: center;
  @include mobile { min-height: 0; }

  // modifer - closed
  &--closed {
    @include transitions(min-height, background-color);
    transition-timing-function: $ease_in_out_quad;

    background-color: transparent;
    @include mobile { min-height: 0; }
  }

  // modifer - open
  &--open {
    @include transitions(min-height, background-color);
    transition-timing-function: $ease_in_out_quad;

    background-color: black;
    @include mobile { min-height: 100vh; }
  }

  // modifer - basic
  &--basic {
    .header__back,
    .header__menu {
      display: none;
    }

    .header__nav {
      .link {
        display: none;
      }
    }

    .header__logo {
      pointer-events: none;
    }
  }

  @include mobile-up {
    transition: none;
    background-color: transparent;
    @include section--padding-v(3/4);
  }

  a   {
    @extend %font-size-h5; color: white;
    @include mobile { @include font-size-h2(false); }
  }

  a i {
    @extend %font-size-h3; line-height: 1em !important;
    @include mobile { @include font-size-h2(false); }
  }

  &__back, &__logo,
  &__menu, &__nav {
    @extend %flex--col;
  }

  &__back, &__menu {
    flex: 1; flex-basis: 10%;
    @include mobile { flex: 2; flex-basis: 20%; }
  }

  &__logo, &__nav {
    flex: 8; flex-basis: 80%;
    @include mobile { flex: 6; flex-basis: 60%; }
  }

  &__nav {
    @include mobile { flex: 10; flex-basis: 100%; }
  }
}

// -------------------------------------
//   Header - Back
// -------------------------------------
.header__back {
  text-align: left;

  > a   { display: inline-block; }
  > a i { display: inline-block; }
}

// -------------------------------------
//   Header - Nav
// -------------------------------------
.header__nav {
  @extend %flex--row;

  @include mobile {
     display: block;

    .header--closed & {
      transform: none;
      display: none;
      opacity: 0;
    }
  }

  @include mobile-up {
    transform: none !important;
    display: flex !important;
    opacity: 1 !important;
  }

  > a {
    @extend %flex--col;
    align-self: flex-end;

    @include mobile {
      display: block;
      padding: ($section_pad_mob / 1.5) 0;
      &.link--active { padding-bottom: $section_pad_mob; }
    }
  }
}

// -------------------------------------
//   Header - Menu
// -------------------------------------
.header__menu {
  text-align: right;
  &--desktop { @include mobile { display: none; }}
  &--mobile  { @include mobile-up { display: none; }}

  > a   { display: inline-block; }
  > a i { display: inline-block; }

  .header--closed & { .icon-close  { display: none; }}
  .header--open &   { .icon-menu   { display: none; }}
}

// -------------------------------------
//   Header - Logo
// -------------------------------------
.header__logo {
  &--desktop {
    align-self: center;
    padding-bottom: $link_pad_vert;
    @include mobile { display: none !important; }
  }

  &--mobile  {
    align-self: flex-start;
    padding-top: $link_pad_vert / 2;
    @include mobile-up { display: none; }
  }

  > img {
    @extend %center;
    max-width: 5vw;
    @include tablet { max-width: 6vw; }
    @include mobile { max-width: 16vw; }
  }
}
