// -------------------------------------
//   Component - Promo Video
// -------------------------------------
/**
  * @name promo-video
  * @desc Styles for the case study Work component.
**/

.promo-video { @extend %section; }

// -------------------------------------
//   Promo Video - Content
// -------------------------------------
// taken from base/_case-study-work.scsss
$promov_content_w_max: $cs_tile_content_w_max; // 50%
$promov_content_inner_w_max: $cs_tile_content_inner_w_max; // 80%
$promov_content_inner_w_max_tab: $cs_tile_content_inner_w_max_tab; // 95%
$promov_content_inner_w_max_mob: $cs_tile_content_inner_w_max_mob; // 80%
$promov_content_margin_mob: $cs_content_margin_first; // 20vw

.promo-video__content {
  display: block;
  position: absolute;
  @include section--padding;

  width: 100%;
  max-width: $promov_content_w_max;

  @include mobile {
    max-width: 100%;
    transform: none !important;

    left: 0 !important;
    top: $promov_content_margin_mob !important;
  }

  > h1 {
    margin: 0;
    display: block;
    span { display: block; }

    color: inherit;
    max-width: $promov_content_inner_w_max;
    @include tablet-sm { max-width: $promov_content_inner_w_max_tab; }
    @include mobile    { max-width: $promov_content_inner_w_max_mob; }
  }

  &[data-align="left"]   { @extend %transform-center-v; left: 0;  }
  &[data-align="right"]  { @extend %transform-center-v; right: 0; }

  &[data-align="fullCenter"] {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    max-width: 100%;

    @include section--padding(3);

    > h1 {
      max-width: 100%;
      text-align: center;
      line-height: $line_height_root;

      span {
        display: inline-block;

        $promov_content_span_pad: 0.15em;
        padding-right: $promov_content_span_pad;
        padding-left: $promov_content_span_pad;
        margin-left: -$promov_content_span_pad;
        margin-right: -$promov_content_span_pad;

        color: black;
        background-color: $color_yellow_ddb;
      }

      br { display: none; }

      @include mobile {
        text-align: left;

        span {
          $promov_content_span_pad_mob: 0.25em;
          padding-right: $promov_content_span_pad_mob;
          padding-left: $promov_content_span_pad_mob;
          margin-left: -$promov_content_span_pad_mob;
          margin-right: 0;
        }

        br { display: block !important; }
      }
    }
  }
}

// -------------------------------------
//   Promo Video - Scroll
// -------------------------------------
$promov_scroll_margin: $csw_scroll_margin; // 0.5em

.promo-video__scroll {
  // disabled for sprint one
  // to prevent click events
  pointer-events: none;
  visibility: hidden;

  @extend %transform-center-h;
  @extend %font-size-h1;

  &:last-child {
    bottom: 0;
    margin-bottom: $promov_scroll_margin;
  }
}
