// -------------------------------------
//   Component - Quote Tile
// -------------------------------------
/**
  * @name quote-tile
  * @desc Styles for the quote tile component.
**/

.quote-tile {
  @extend %flex--row;
  min-height: 70vw;

  &.test:hover {
    background-color: rgba(#fff, 0.02);
    outline: 1px solid rgba(#fff, 0.1);
  }

  .quote-tile__content {
    @include section--padding(3.5);

    @include mobile {
      @include section--padding-v(4);
      @include section--padding-h(1);
    }

    align-self: center;
    vertical-align: middle;
    text-align: center;

    .quote-tile__text {
      display: inline-block;
      text-align: left;

      p:first-child { margin-top: 0; }
      p:last-child { margin-bottom: 0; }

      .quote-tile__quote  { margin-bottom: 0.25em; }
      .quote-tile__author { margin-top: 0.25em;    }
    }

    .quote-tile__image {
      @include section--margin-top(3);
      @include section--margin-bottom(0);

      &.top {
        @include section--margin-top(0);
        @include section--margin-bottom(3);
      }

      img {
        width: 100%;
        margin: auto;
      }

      .quote-tile__image--desktop { display: block; }
      .quote-tile__image--mobile  { display: none;  }

      @include mobile {
        text-align: center;

        img {
          max-width: 100%;
          width: auto;
        }
        .quote-tile__image--desktop { display: none;  }
        .quote-tile__image--mobile  { display: block; }
      }
    }
  }
}
