// -------------------------------------
//   Component - Video Tile
// -------------------------------------
/**
  * @name video-tile
  * @desc Styles for the video tile component.
**/

.video-tile {
  @extend %section;

  video {
    display: block;
    height: auto;
    width: 100%;
  }

  .video-tile__outer {
    position: relative;
    display: block;

    height: 0;
    width: 100%;
    padding-top: 56.25%;

    .video-tile__inner {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;

      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }
}

