.comp-tile {
  $style-black-bg-col: #000;
  $style-black-text-col: #fff;
  $style-yellow-bg-col: #ffd107;
  $style-yellow-text-col: #000;
  $style-white-bg-col: #fff;
  $style-white-text-col: #000;
  $style-skyblue-bg-col: #afc9e2;
  $style-skyblue-text-col: #fff;

  display: block;
  width: 100%;
  overflow: hidden;

  @include non-mobile {
    &.width-half  { width: 50%; }
  }

  .tile-outer {
    position: relative;
    height: 0;
    padding-top: 100vh;  // fullscreen

    @include non-mobile {
      &.desktop-aspect-1-1   { padding-top: 100%; }
      &.desktop-aspect-16-9  { padding-top: 56.25%; }
      &.desktop-aspect-4-3   { padding-top: 75%; }
      &.desktop-aspect-2-3   { padding-top: 150%; }
    }

    @include mobile {
      &.mobile-aspect-1-1    { padding-top: 100%; }
      &.mobile-aspect-16-9   { padding-top: 56.25%; }
      &.mobile-aspect-4-3    { padding-top: 75%; }
      &.mobile-aspect-2-3    { padding-top: 150%; }
    }

    &.tile-bg {
      background-position: center center;
      background-size: cover;
    }

    &.tile-style-black {
      background-color: $style-black-bg-col;
      color: $style-black-text-col;

      .tile-inner {
        .tile-content {
          .tile-link-wrapper { border-color: $style-black-text-col; }
        }
      }
    }

    &.tile-style-skyblue {
      background-color: $style-skyblue-bg-col;
      color: $style-skyblue-text-col;

      .tile-inner {
        .tile-content {
          .tile-link-wrapper { border-color: $style-skyblue-text-col; }
          p { text-shadow: 1px 1px rgba(0, 0, 0, 0.1); }
        }
      }
    }

    &.tile-style-white {
      background-color: $style-white-bg-col;
      color: $style-white-text-col;

      .tile-inner {
        .tile-content {
          .tile-link-wrapper { border-color: $style-white-text-col; }
          p { text-shadow: none; }
        }
      }
    }

    &.tile-style-yellow {
      background-color: $style-yellow-bg-col;
      color: $style-yellow-text-col;

      .tile-inner {
        .tile-content {
          .tile-link-wrapper { border-color: $style-yellow-text-col; }
          p { text-shadow: none; }
        }
      }
    }

    .tile-inner {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      @mixin grFade($col-from, $col-to, $grad-start, $grad-end) {
        $_start: $col-from $grad-start;
        $_end: $col-to $grad-end;
        background: -webkit-linear-gradient(top,       $_start, $_end);
        background:    -moz-linear-gradient(top,       $_start, $_end);
        background:         linear-gradient(to bottom, $_start, $_end);
        // filter: progid:DXImageTransform.Microsoft.gradient(
        //   startColorstr='#a8000000', endColorstr='#00000000', GradientType=0);
      }

      @include non-mobile {
        &.tile-fade-grad          { @include grFade(rgba(0,0,0,0.66), rgba(0,0,0,0), 0%, 33%); }
        &.tile-fade-grad-lightest { @include grFade(rgba(0,0,0,0.20), rgba(0,0,0,0), 0%, 33%); }
        &.tile-fade-grad-light    { @include grFade(rgba(0,0,0,0.33), rgba(0,0,0,0), 0%, 33%); }
        &.tile-fade-grad-half     { @include grFade(rgba(0,0,0,0.50), rgba(0,0,0,0), 0%, 33%); }
        &.tile-fade-grad-dark     { @include grFade(rgba(0,0,0,0.66), rgba(0,0,0,0), 0%, 33%); }
        &.tile-fade-grad-darkest  { @include grFade(rgba(0,0,0,0.80), rgba(0,0,0,0), 0%, 33%); }
      }

      @include mobile {
        &.tile-fade-grad          { @include grFade(rgba(0,0,0,0.66), rgba(0,0,0,0), 0%, 100%); }
        &.tile-fade-grad-lightest { @include grFade(rgba(0,0,0,0.20), rgba(0,0,0,0), 0%, 100%); }
        &.tile-fade-grad-light    { @include grFade(rgba(0,0,0,0.33), rgba(0,0,0,0), 0%, 100%); }
        &.tile-fade-grad-half     { @include grFade(rgba(0,0,0,0.50), rgba(0,0,0,0), 0%, 100%); }
        &.tile-fade-grad-dark     { @include grFade(rgba(0,0,0,0.66), rgba(0,0,0,0), 0%, 100%); }
        &.tile-fade-grad-darkest  { @include grFade(rgba(0,0,0,0.80), rgba(0,0,0,0), 0%, 100%); }
      }

      &.tile-fade-solid          { background-color: rgba(0,0,0,0.20); }
      &.tile-fade-solid-lightest { background-color: rgba(0,0,0,0.20); }
      &.tile-fade-solid-light    { background-color: rgba(0,0,0,0.33); }
      &.tile-fade-solid-half     { background-color: rgba(0,0,0,0.50); }
      &.tile-fade-solid-dark     { background-color: rgba(0,0,0,0.66); }
      &.tile-fade-solid-darkest  { background-color: rgba(0,0,0,0.80); }

      .tile-background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;

        video {
          width: 100%;
          height: 100%;

          @include mobile {
            @include transform(scale(1.8));
          }
        }
      }

      .tile-content {
        display: table;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;

        .tile-content-wrapper {
          display: table-cell;
          vertical-align: top;
          text-align: left;

          @include non-mobile {
            &.desktop-cont-pos-top-left {
              vertical-align: top;
              text-align: left;
              .tile-content-box { margin: 0 auto 0 0; }
            }

            &.desktop-cont-pos-top-center {
              vertical-align: top;
              text-align: center;
              .tile-content-box { margin: 0 auto; }
            }

            &.desktop-cont-pos-top-right {
              vertical-align: top;
              text-align: right;
              .tile-content-box { margin: 0 0 0 auto; }
            }

            &.desktop-cont-pos-mid-left {
              vertical-align: middle;
              text-align: left;
              .tile-content-box { margin: 0 auto 0 0; }
            }

            &.desktop-cont-pos-mid-center {
              vertical-align: middle;
              text-align: center;
              .tile-content-box { margin: 0 auto; }
            }

            &.desktop-cont-pos-mid-right {
              vertical-align: middle;
              text-align: right;
              .tile-content-box { margin: 0 0 0 auto; }
            }

            &.desktop-cont-pos-bot-left {
              vertical-align: bottom;
              text-align: left;
              .tile-content-box { margin: 0 auto 0 0; }
            }

            &.desktop-cont-pos-bot-center {
              vertical-align: bottom;
              text-align: center;
              .tile-content-box { margin: 0 auto; }
            }

            &.desktop-cont-pos-bot-right {
              vertical-align: bottom;
              text-align: right;
              .tile-content-box { margin: 0 0 0 auto; }
            }
          }

          @include mobile {
            &.mobile-cont-pos-top-left {
              vertical-align: top;
              text-align: left;
              .tile-content-box { margin: 0 auto 0 0; }
            }

            &.mobile-cont-pos-top-center {
              vertical-align: top;
              text-align: center;
              .tile-content-box { margin: 0 auto; }
            }

            &.mobile-cont-pos-top-right {
              vertical-align: top;
              text-align: right;
              .tile-content-box { margin: 0 0 0 auto; }
            }

            &.mobile-cont-pos-mid-left {
              vertical-align: middle;
              text-align: left;
              .tile-content-box { margin: 0 auto 0 0; }
            }

            &.mobile-cont-pos-mid-center {
              vertical-align: middle;
              text-align: center;
              .tile-content-box { margin: 0 auto; }
            }

            &.mobile-cont-pos-mid-right {
              vertical-align: middle;
              text-align: right;
              .tile-content-box { margin: 0 0 0 auto; }
            }

            &.mobile-cont-pos-bot-left {
              vertical-align: bottom;
              text-align: left;
              .tile-content-box { margin: 0 auto 0 0; }
            }

            &.mobile-cont-pos-bot-center {
              vertical-align: bottom;
              text-align: center;
              .tile-content-box { margin: 0 auto; }
            }

            &.mobile-cont-pos-bot-right {
              vertical-align: bottom;
              text-align: right;
              .tile-content-box { margin: 0 0 0 auto; }
            }
          }

          .tile-content-box {
            padding: 2.5vw;
            margin: 0 auto 0 0;
            max-width: 100%;
            text-align: left;

            @include non-mobile {
              &.desktop-cont-align-left   { text-align: left;   }
              &.desktop-cont-align-center { text-align: center; }
              &.desktop-cont-align-right  { text-align: right; }

              &.desktop-cont-width-full { max-width: 100%; }
              &.desktop-cont-width-half { max-width: 50%; }

              &.desktop-cont-width-four-quarter  { max-width: 100%; }
              &.desktop-cont-width-three-quarter { max-width: 75%; }
              &.desktop-cont-width-two-quarter   { max-width: 50%; }
              &.desktop-cont-width-one-quarter   { max-width: 25%; }

              &.desktop-cont-width-three-third { max-width: 100%; }
              &.desktop-cont-width-two-third   { max-width: 66%; }
              &.desktop-cont-width-one-third   { max-width: 33%; }

              &.desktop-cont-width-five-fifth  { max-width: 100%; }
              &.desktop-cont-width-four-fifth  { max-width: 80%; }
              &.desktop-cont-width-three-fifth { max-width: 60%; }
              &.desktop-cont-width-two-fifth   { max-width: 40%; }
              &.desktop-cont-width-one-fifth   { max-width: 20%; }

              &.desktop-cont-width-100-perc { max-width: 100%; }
              &.desktop-cont-width-90-perc  { max-width: 90%; }
              &.desktop-cont-width-80-perc  { max-width: 80%; }
              &.desktop-cont-width-70-perc  { max-width: 70%; }
              &.desktop-cont-width-60-perc  { max-width: 60%; }
              &.desktop-cont-width-50-perc  { max-width: 50%; }
              &.desktop-cont-width-40-perc  { max-width: 40%; }
              &.desktop-cont-width-30-perc  { max-width: 30%; }
              &.desktop-cont-width-20-perc  { max-width: 20%; }
              &.desktop-cont-width-10-perc  { max-width: 10%; }
            }

            @include mobile {
              padding: 5vw;

              &.mobile-cont-align-left   { text-align: left;   }
              &.mobile-cont-align-center { text-align: center; }
              &.mobile-cont-align-right  { text-align: right; }

              &.mobile-cont-width-full { max-width: 100%; }
              &.mobile-cont-width-half { max-width: 50%; }

              &.mobile-cont-width-four-quarter  { max-width: 100%; }
              &.mobile-cont-width-three-quarter { max-width: 75%; }
              &.mobile-cont-width-two-quarter   { max-width: 50%; }
              &.mobile-cont-width-one-quarter   { max-width: 25%; }

              &.mobile-cont-width-three-third { max-width: 100%; }
              &.mobile-cont-width-two-third   { max-width: 66%; }
              &.mobile-cont-width-one-third   { max-width: 33%; }

              &.mobile-cont-width-five-fifth  { max-width: 100%; }
              &.mobile-cont-width-four-fifth  { max-width: 80%; }
              &.mobile-cont-width-three-fifth { max-width: 60%; }
              &.mobile-cont-width-two-fifth   { max-width: 40%; }
              &.mobile-cont-width-one-fifth   { max-width: 20%; }

              &.mobile-cont-width-100-perc { max-width: 100%; }
              &.mobile-cont-width-90-perc  { max-width: 90%; }
              &.mobile-cont-width-80-perc  { max-width: 80%; }
              &.mobile-cont-width-70-perc  { max-width: 70%; }
              &.mobile-cont-width-60-perc  { max-width: 60%; }
              &.mobile-cont-width-50-perc  { max-width: 50%; }
              &.mobile-cont-width-40-perc  { max-width: 40%; }
              &.mobile-cont-width-30-perc  { max-width: 30%; }
              &.mobile-cont-width-20-perc  { max-width: 20%; }
              &.mobile-cont-width-10-perc  { max-width: 10%; }
            }
          }
        }
      }
    }
  }

  p {
    margin: 0;
    line-height: 1.2em;

    &.tile-heading {
      font-size: 1.75vw;
      min-height: 1.1em;
    }

    &.tile-text {
      font-size: 2.5vw;
      font-weight: bold;
    }
  }

  .tile-link-wrapper {
    display: inline-block;
    margin-top: 2vw;
    border-bottom: 2px solid #fff;

    .tile-link {
      font-size: 1.75vw;
      line-height: 3vw;
    }

    &.external {
      border: 2px solid #fff;
      padding: 0 0.5vw;
    }
  }

  @include mobile {
    p {
      &.tile-heading { font-size: 4vw; }
      &.tile-text    { font-size: 6vw; }
    }

    .tile-link-wrapper {
      .tile-link {
        font-size: 4vw;
        line-height: 6vw;
      }
    }
  }
}
