<!DOCTYPE html>

{% include _relative_links_base_url.html %}
{% assign page_data = site.data.prismic[page.data][0].data %}

<!-- html -->
<html>

  <!-- head -->
  <head>

    <!-- browser meta data -->
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

    <!-- default meta data -->
    <title>{{ page_data.title.value | default: 'Tribal DDB Sydney' }}</title>
    <meta name="description" content="{{ page_data.description.value | default: 'Tribal DDB Sydney' }}">
    <meta name="keywords" content="{{ page_data.keywords.value | default: 'Tribal,DDB,Sydney' }}">
    <link rel="shortcut icon" href="{{base}}/assets/images/favicon.png">

    <!-- bower:css -->
    <!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->

    <!-- custom:css -->
    <link rel="stylesheet" href="{{base}}/assets/css/dependencies/dependencies.min.css">
    <link rel="stylesheet" href="{{base}}/assets/css/app.min.css">
    <!-- endcustom -->

  </head><!-- head end -->

  <!-- body -->
  <body{% if page_data.backgroundColor.value %} style="background-color: {{ page_data.backgroundColor.value }}"{% endif %}{% if page_data.foregroundColor.value %} data-foreground-color="{{ page_data.foregroundColor.value }}"{% endif %}>

    {% unless page_data.header.value == 'hidden' %}
      <section class="section section--header">
      {% include components/header.html %}
      </section>
    {% endunless %}

    {{ content }}

    {% unless page_data.footer.value == 'hidden' %}
      <section class="section section--footer">
      {% include components/footer.html %}
      </section>
    {% endunless %}

  </body><!-- body end -->

  <!-- bower:js -->
  <!-- endbower -->

  <!-- inject:js -->
  <!-- endinject -->

  <!-- custom:js -->
  <script type="text/javascript" src="{{base}}/assets/js/dependencies/dependencies.min.js"></script>
  <script type="text/javascript" src="{{base}}/assets/js/app.min.js"></script>
  <!-- endcustom -->

</html><!-- html end -->
