// -------------------------------------
//   App
// -------------------------------------
/**
  * @name app
  * @desc The main sass file that is used to
        import and consolidate all the other
        sass across the entire app in their
        required order.
**/

// -------------------------------------
//   App - Base
// -------------------------------------
@import "base/fonts";
@import "base/icons";

@import "base/colors";
@import "base/helpers";
@import "base/zindices";
@import "base/breakpoints";

@import "base/transitions";
@import "base/animations";

@import "base/typography";
@import "base/layout";

// -------------------------------------
//   App - Modules
// -------------------------------------
@import "modules/flex";
@import "modules/section";

@import "modules/link";
@import "modules/button";

@import "modules/image";
@import "modules/video";

// -------------------------------------
//   App - Directives
// -------------------------------------
/* empty block */

// -------------------------------------
//   App - Components
// -------------------------------------
@import "components/header";
@import "components/footer";
@import "components/intro-tile";
@import "components/fof-tile";

@import "components/case-study-tile";
@import "components/case-study-work-tile";
@import "components/promo-video";

@import "components/image-tile";
@import "components/video-tile";

@import "components/content-tile";
@import "components/quote-tile";

@import "components/article-tiles";
@import "components/contact-tile";
@import "components/about-tile";
