// -------------------------------------
//   Base - Colors
// -------------------------------------
/**
  * @name colors
  * @desc Used for management for colors to be
          used with all elements that spread 
          across the entire app.
**/

// -------------------------------------
//   Colors - Yellow
// -------------------------------------
$color_yellow_ddb: #ffd107; // rgb(255,209,7)

// -------------------------------------
//   Colors - Blue
// -------------------------------------
$color_blue_twitter:  #55acee; // rgb(85, 172, 238);
$color_blue_facebook: #3b5998; // rgb(59, 89, 152);

// -------------------------------------
//   Colors - Red
// -------------------------------------
$color_red_instagram: #fb3958; // rgb(251, 57, 88);