// -------------------------------------
//   Base - Colors
// -------------------------------------
/**
  * @name colors
  * @desc Used for management for colors to be
          used with all elements that spread 
          across the entire app.
**/

// -------------------------------------
//   Colors - Grey
// -------------------------------------
$color_grey_warm:   #4a4a4a; // rgb(74,74,74)
$color_grey_night:  #191919; // rgb(25,25,25)
$color_grey_mnight: #221f20; // rgb(34,31,32)

// -------------------------------------
//   Colors - Yellow
// -------------------------------------
$color_yellow_ddb: #ffd107; // rgb(255,209,7)

// -------------------------------------
//   Colors - Blue
// -------------------------------------
$color_blue_twitter:  #55acee; // rgb(85, 172, 238);
$color_blue_facebook: #3b5998; // rgb(59, 89, 152);

// -------------------------------------
//   Colors - Red
// -------------------------------------
$color_red_instagram: #fb3958; // rgb(251, 57, 88);