// -------------------------------------
//   Base - Colors
// -------------------------------------
/**
  * @name colors
  * @desc Used for management for colors to be
          used with all elements that spread 
          across the entire app.
**/

$color_grey_sky: #f3f5f6;  // rgb(243,245,246)
$color_grey_calm: #dee1e3; // rgb(222,225,227)
$color_grey_soft: #bdc3c6; // rgb(189,195,198)
$color_grey_warm: #808890; // rgb(128,136,144)

$color_grey_midnight: #2f3538; // rgb(47,53,56)
$color_grey_night: #1d1f20;    // rgb(29,31,32)

$color_yellow_ddb_pr: #fccb04; // rgb(255,203,4)
$color_yellow_ddb_sc: #f3c34f; // rgb(243,195,79)

$color_orange_warm: #faaa00; // rgb(250,170,0)
$color_red_warning: #c82e2d; // rgb(200,46,45)

$color_blue_twitter:  #55acee; // rgb(85, 172, 238);
$color_blue_facebook: #3b5998; // rgb(59, 89, 152);
$color_red_instagram: #fb3958; // rgb(251, 57, 88);