@font-face {
	font-family: "icons-ddb-website";
	src: url('../fonts/icons-ddb-website.eot');
	src: url('../fonts/icons-ddb-website.eot?#iefix') format('eot'),
		url('../fonts/icons-ddb-website.woff') format('woff'),
		url('../fonts/icons-ddb-website.ttf') format('truetype'),
		url('../fonts/icons-ddb-website.svg#icons-ddb-website') format('svg');
}

.icon:before {
	font-family: "icons-ddb-website";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}


.icon-chevron-down:before {
	content: "\E001";
}

.icon-chevron-left:before {
	content: "\E002";
}

.icon-close:before {
	content: "\E003";
}

.icon-medium:before {
	content: "\E004";
}

.icon-menu:before {
	content: "\E005";
}
