// -------------------------------------
//   Base - Layout
// -------------------------------------
/**
  * @name layout
  * @desc Used for specifying basic layout styles
          used with common elements that spread 
          spread across the entire app.
**/

// base paths for the url 
// used in the sass files
$base_path_images: "../images/";
$base_html_w_min: 320px;
$base_html_h_min: 100vh;

// html, body
html, body {
  display: block;
  position: relative;

  width: 100%;
  height: auto !important;
  box-sizing: border-box;

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  // this will ensure that the page does 
  // not appear to clip when components are
  // removed from view ( the clip can be 
  // ignored older browsers )
  min-width: $base_html_w_min;
  min-height: $base_html_h_min;
  
  color: white;
  background-color: black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &[data-scroll="disabled"] { overflow: hidden !important; }
}

// image
img {
  display: block;
  position: relative;
  
  width: 100%;
  height: auto;
  max-width: 100%;
  box-sizing: border-box;
  
  // to prevent alt text
  // from displayed while
  // the img is loaded
  color: transparent;
}

// fallback styles for browsers
// that do not support tempaltes
template { display: none !important; }

// br tags are not visible on 
// smaller devices unless
// explicitly specified
br {
  &:not(.mobile):not(.tablet):not(.all) {
      @include tablet-sm { display: none; }
  }

  &.tablet:not(.all) {
      @include tablet-sm-up { display: none; }
      @include mobile { display: none; }
  }

  &.mobile:not(.all) {
      @include mobile-up { display: none; }
  }
}