// -------------------------------------
//   Base - Typography
// -------------------------------------
/**
  * @name typography
  * @desc Used for setting various font properties
          used with common elements that spread 
          across the entire app.
**/

// -------------------------------------
//   Typography - Mixins - font Sizes
// -------------------------------------
// mixin to create the font-size-root placeholder 
// to overcome when used inside media queries
// e.g. @input @include font-size-root(false);
// e.g. @output ..content of @else block comes here..
@mixin font-size-root($extend: true) {
  @if $extend { @extend %font-size-root; }

  @else {
    font-size: 1em; // 16px
    @include tablet-sm { font-size: 0.938em; } // 15px
  }
}

// mixin to create the font-size-h1 placeholder 
// to overcome when used inside media queries
// e.g. @input @include font-size-h1(false);
// e.g. @output ..content of @else block comes here..
@mixin font-size-h1($extend: true) {
  @if $extend { @extend %font-size-h1; }

  @else {
    font-size: 3.75rem; // 60px
    @include tablet-sm { font-size: 3rem;   } // 45px
    @include mobile    { font-size: 2.4rem; } // 36px
    @include mobile-sm { font-size: 2rem;   } // 30px
  }
}

// mixin to create the font-size-h2 placeholder 
// to overcome when used inside media queries
// e.g. @input @include font-size-h2(false);
// e.g. @output ..content of @else block comes here..
@mixin font-size-h2($extend: true) {
  @if $extend { @extend %font-size-h2; }

  @else {
    font-size: 2.812rem; // 45px
    @include tablet-sm { font-size: 2.333rem; } // 35px
    @include mobile    { font-size: 1.733rem; } // 26px
    @include mobile-sm { font-size: 1.533rem; } // 23px
  }
}

// mixin to generate the font-size-h3 placeholder 
// to overcome when used inside media queries
// e.g. @input @include font-size-h3(false);
// e.g. @output ..content of @else block comes here..
@mixin font-size-h3($extend: true) {
  @if $extend { @extend %font-size-h3; }

  @else {
    font-size: 1.72rem; // 28px
    @include tablet-sm { font-size: 1.4rem; } // 21px
  }
}

// mixin to create the font-size-h4 placeholder 
// to overcome when used inside media queries
// e.g. @input @include font-size-h4(false);
// e.g. @output ..content of @else block comes here..
@mixin font-size-h4($extend: true) {
  @if $extend { @extend %font-size-h4; }

  @else {
    font-size: 1.125rem; // 18px
    @include tablet-sm { font-size: 1.133rem; } // 17px
  }
}

// mixin to create the font-size-p placeholder 
// to overcome when used inside media queries
// e.g. @input @include font-size-p(false);
// e.g. @output ..content of @else block comes here..
@mixin font-size-p($extend: true) {
  @if $extend { @extend %font-size-p; }

  @else {
    font-size: 1rem; // 16px
    @include tablet-sm { font-size: 1rem; } // 15px
  }
}

%font-size-root  { @include font-size-root (false); }
%font-size-h1 { @include font-size-h1(false); }
%font-size-h2 { @include font-size-h2(false); }
%font-size-h3 { @include font-size-h3(false); }
%font-size-h4 { @include font-size-h4(false); }
%font-size-p  { @include font-size-p (false); }

// -------------------------------------
//   Typography - Font Sizes
// -------------------------------------
html, body { 
  color: $color_grey_midnight;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5625em;
}

html { @extend %font-size-root; }
body { @extend %font-size-root; }
h1 { @extend %font-size-h1; }
h2 { @extend %font-size-h2; }
h3 { @extend %font-size-h3; }
h4 { @extend %font-size-h4; }

h1, h2, h3, h4 {
  line-height: 1.12em;
  letter-spacing: -0.02em;
  color: $color_grey_night;

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
  @include mobile { text-align: center; }
}

ul, ol, li, p, a {
  @extend %font-size-p;
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

ul, ol {
  padding-left: 1em;

  li { 
    margin-top: 0.25em;
    padding-left: 0.25em;
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }
}

a {
  text-decoration: none;
  @include transitions(color);
  
  color:  $color_yellow_ddb_pr;
  outline: 0;
  
  &:hover, &:active, { color: $color_yellow_ddb_sc; }
  &:hover, &:focus, &:active { outline: 0; }
}

p.disclaimer {  
  font-size: 0.75rem;
  color: $color_grey_warm;
}

p.error {
  color: $color_red_warning;
}

// -------------------------------------
//   Typography - Icons
// -------------------------------------
$icon_spacing_content: 0.65em;
$icon_spacing_header: 0.5em;

i, .icon {
  display: inline-block;
  vertical-align: middle;
}

h1, h2, h3, h4, p, a {
  font-weight: normal;

  span, a, i, .icon {
    font-size: inherit;
    line-height: inherit;
  }

  span, a { 
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}


h1, h2, h3, h4 {
    span, a {
      & + i, & + .icon {
        margin-left: $icon_spacing_header;

        @include mobile {
          display: block;
          margin-left: 0;
          margin-top: $icon_spacing_header; 
        }
      }
    }

    i, .icon {
      & + a, & + span {
        margin-left: $icon_spacing_header;

        @include mobile {
          display: block;
          margin-left: 0;
          margin-top: $icon_spacing_header;
        }
      }
    }
}


li, p, a {
  span, a { 
    & + i, & + .icon {
      margin-left: $icon_spacing_content;
    }
  }

  i, .icon {
    @include transitions(color);

    & + a, & + span {
      margin-left: $icon_spacing_content;
    }
  }
}

// -------------------------------------
//   Typography - Font Families
// -------------------------------------
h1, h2 { font-family: inherit; }
h3, h4 { font-family: inherit; }
li, p, a, { font-family: inherit; }

