{% assign link = include.link %}
{% assign label = include.label %}

{% if link.value %}

  {% if link.type == "Link.web" %}
    {% assign isExternalLink = true %}
  {% else %}
    {% assign isExternalLink = false %}
  {% endif %}

  {% assign isMedium = false %}

  {% capture linkUrl %}
    {% case link.type %}

      {% when "Link.web" %}
        {% assign segs = link.value.url | split: "/" %}
        {% for seg in segs %}
          {% if seg == "medium.com" %}
            {% assign isMedium = true %}
          {% endif %}
        {% endfor %}

        {{ link.value.url }}

      {% when "Link.document" %}
        {% if link.value.document.type == "case-studies" %}
          {{base}}/sydney/work/{{link.value.document.uid}}
        {% elsif link.value.document.uid == "latest" %}
          {{base}}/sydney/
        {% else %}
          {{base}}/sydney/{{link.value.document.uid}}
        {% endif %}

    {% endcase %}
  {% endcapture %}

  {% capture linkTarget %}
    {% if isExternalLink %}
      target="_blank"
    {% endif %}
  {% endcapture %}

  {% capture linkLabel %}
    {% if label %}
      title="{{ label }}"
    {% endif %}
  {% endcapture %}

  <!-- button -->
  <a class="button" href="{{ linkUrl | normalize_whitespace }}" {{ linkTarget | normalize_whitespace }} {{ linkLabel | normalize_whitespace }} >
    {% if isMedium %}
      <span> Read on <i class="icon icon-medium"></i> Medium </span>
    {% else %}
      <span> {{ label | default: "View" }} </span>
    {% endif %}
  </a><!-- button end -->
{% endif %}
